<template>
    <form id="login-form">
        <div class="md-form">

            <loginInputRu @updateValue="onLogin"
                          v-model="input.login"
                          id="input-login"
            ></loginInputRu>

            <label data-error="wrong" data-success="right" for="input-login">Your email or phone</label>
        </div>

        <div class="md-form">
            <input type="password" v-model="input.password" name="password" id="input-pass"
                   class="form-control validate">
            <label data-error="wrong" data-success="right" for="input-pass">Your password</label>
            <p class="font-small blue-text d-flex justify-content-end">
                Forgot <a href="#" class="blue-text ml-1">Password?</a>
            </p>
        </div>

        <div class="text-center mb-3">
            <button type="button"
                    @click.prevent="checkForm"
                    class="btn blue-gradient btn-block btn-rounded z-depth-1a">Sign in
            </button>
        </div>
    </form>
</template>

<script>

  const API_URL = 'https://localhost:8080/'
  const LOGIN_URL = API_URL + 'login/'

  import loginInputRu from '../Inputs/loginInput'

  export default {
    name: 'login-form',
    components: {
      loginInputRu
    },
    data () {
      return {
        input: {
          login: '',
          password: ''
        },
        errors: [],
        action: LOGIN_URL
      }
    },
    methods: {

      checkForm () {

        console.log(this.input)

        if (!this.input.login) {
          this.errors.login.push('Укажите телефон или почту.')
        }

        if (!this.input.password) {
          this.errors.password.push('Пароль не может быть пучтым.')
        }

        this.loginPost()

        //
        //
        // if (!this.email) {
        //   this.errors.push('Укажите электронную почту.');
        // } else if (!this.validEmail(this.email)) {
        //   this.errors.push('Укажите корректный адрес электронной почты.');
        // }
      },
      onLogin (data) {
        console.log('child component said login', data)
      },

      loginPost () {

        axios.post(LOGIN_URL, this.input)
          .then(response => {
                if(response.data.auth === true)
                {



                  window.location.replace(response.data.intended)
                }
            })
          .catch(function (error) {
            console.log(error)
          })

      },
    }
  }
</script>

<style scoped>

</style>