<template>

    <div class="container registration_form">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">Register</div>
                    <div class="card-body">
                        <div class="registration-panel panel panel-default account-reg">
                            <div class="panel-body">


                                <form autocomplete="off" @submit.prevent="submit" method="post"
                                      id="register_account_type">
                                    <fieldset>
                                        <!--Radio group-->
                                        <div class="radios-as-buttons ">
                                            <div v-for="(type, index) in user_type" :key="index">
                                                <input type="radio"
                                                       name="type"
                                                       v-bind:value="index"
                                                       v-model="form.type"
                                                       :id="'type_'+index"
                                                />
                                                <label :for="'type_'+index">
                                                    Регистрация как <b>{{type}}</b>
                                                </label>
                                                <invalid-feedback :errors="errors.type"></invalid-feedback>
                                            </div>
                                        </div>
                                        <!--Radio group-->
                                    </fieldset>
                                    <br>
                                    <br>

                                    <fieldset>
                                        <template v-if="changeType()">
                                            <div class="form-group">
                                                <label for="company_name">Название компании
                                                    <span class="label-tip">обязательно</span>
                                                </label>
                                                <input id="company_name"
                                                       type="text"
                                                       class="form-control"
                                                       placeholder="Название предприятия без кавычек. Например: Мир мебели"
                                                       name="company_name"
                                                       v-model="form.company_name"
                                                       autofocus
                                                >
                                                <invalid-feedback :errors="errors.company_name"></invalid-feedback>
                                            </div>

                                            <div v-if="company_type" class="form-group">
                                                <label :for="'company_type'">Вид деятельности
                                                    <span class="label-tip">обязательно</span>
                                                </label>
                                                <select :id="'company_type'"
                                                        class="form-control"
                                                        v-model="form.company_type"
                                                        name="company_type">
                                                    <option value="">Вид деятельности</option>

                                                    <option v-for="(company_type, index) in company_type" :key="index" :value="index">
                                                        {{ company_type }}
                                                    </option>
                                                </select>
                                                <invalid-feedback :errors="errors.company_type"></invalid-feedback>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="country">Страна
                                                            <span class="label-tip">обязательно</span>
                                                        </label>
                                                        <input id="country"
                                                               type="text"
                                                               class="form-control"
                                                               placeholder="Страна"
                                                               v-model="form.country"
                                                        >
                                                        <invalid-feedback
                                                            :errors="errors.country"></invalid-feedback>
                                                    </div>
                                                </div>

                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="city">Город
                                                            <span class="label-tip">обязательно</span>
                                                        </label>
                                                        <input id="city"
                                                               type="text"
                                                               class="form-control"
                                                               placeholder="Город"
                                                               name="city"
                                                               v-model="form.city"
                                                        >
                                                        <invalid-feedback :errors="errors.city"></invalid-feedback>
                                                    </div>

                                                </div>
                                            </div>
                                        </template>

                                        <div class="row">

                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label for="first_name">Ваше Имя
                                                        <span class="label-tip">обязательно</span>
                                                    </label>
                                                    <input id="first_name"
                                                           class="form-control"
                                                           placeholder="Ваше имя"
                                                           name="first_name"
                                                           type="text"
                                                           maxlength="30"
                                                           v-model="form.first_name"
                                                    >
                                                    <invalid-feedback
                                                        :errors="errors.first_name"></invalid-feedback>
                                                </div>
                                            </div>

                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label for="last_name">Фамилия
                                                        <span class="label-tip">обязательно</span>
                                                    </label>
                                                    <input id="last_name"
                                                           class="form-control"
                                                           placeholder="Ваше имя"
                                                           name="last_name"
                                                           type="text"
                                                           maxlength="30"
                                                           v-model="form.last_name"
                                                    >
                                                    <invalid-feedback
                                                        :errors="errors.last_name"></invalid-feedback>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group phone-cont">
                                            <label for="phone">Телефон
                                                <span class="label-tip">обязательно</span>
                                            </label>
                                            <input id="phone"
                                                   class="form-control"
                                                   placeholder="+7(___)___-__-__"
                                                   name="phone"
                                                   type="tel"
                                                   autocomplete="off"
                                                   v-model="form.phone"
                                            >
                                            <invalid-feedback :errors="errors.phone"></invalid-feedback>
                                        </div>

                                        <div class="form-group">
                                            <label for="email">Email
                                                <span class="label-tip">обязательно</span>
                                            </label>
                                            <input id="email"
                                                   class="form-control"
                                                   placeholder="Email"
                                                   name="email"
                                                   type="email"
                                                   v-model="form.email"
                                            >
                                            <invalid-feedback :errors="errors.email"></invalid-feedback>
                                        </div>

                                        <div class="form-group">
                                            <label for="email">Придумайте пароль
                                                <span class="label-tip">обязательно</span>
                                            </label>
                                            <input id="password"
                                                   class="form-control"
                                                   placeholder="*******"
                                                   name="password"
                                                   type="password"
                                                   v-model="form.password"
                                            >
                                            <invalid-feedback :errors="errors.password"></invalid-feedback>
                                        </div>
                                    </fieldset>

                                    <button class="btn btn-success registration" type="submit">
                                        Зарегистрироватся
                                    </button>
                                </form>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>

<script>
  export default {
    name: 'registrationForm',
    props: {
      user_type: {
        type: Array
      },
      company_type: {
        type: Array
      }
    },
    data () {
      return {
        form: {
          type: 1,
          company_name: '',
          company_type: '',
          country: '',
          city: '',
          first_name: '',
          last_name: '',
          phone: '',
          email: '',
          password: '',
        },
        errors: false,
      }
    },
    methods: {
      changeType () {
        return Number(this.form.type) === 1
      },
      submit () {
        axios.post('/register', this.form)
          .then((result) => {

              console.log('result', result)

              if (result.message) {
                this.$alertify.success('Вы успешно')
              }

            this.errors = false

            this.$router.go(-1)

            }, (errors) => {
              if (errors && errors.hasOwnProperty('response') && errors.response.hasOwnProperty('data') && errors.response.data.hasOwnProperty('errors')) {
                this.errors = errors.response.data.errors
                this.$alertify.error('Не удалось выполнить операцию')
                console.error(`errorsCatcher: ${JSON.stringify(errors.response.data.errors)}`)
              }
            }
          )
      }
    }
  }
</script>

<style scoped>

</style>
