<template>
  <v-app-bar
    app
    color="primary"
    dark
  >
    <router-link :to="{name: 'Home'}">
      <div class="d-flex align-center">
      <v-img
        alt="Vuetify Logo"
        class="shrink mr-2"
        contain
        src="https://cdn.vuetifyjs.com/images/logos/vuetify-logo-dark.png"
        transition="scale-transition"
        width="40"
      />

      <v-img
        alt="Vuetify Name"
        class="shrink mt-1 hidden-sm-and-down"
        contain
        min-width="100"
        src="https://cdn.vuetifyjs.com/images/logos/vuetify-name-dark.png"
        width="100"
      />
      </div>
    </router-link>


    <v-spacer></v-spacer>

    <v-btn icon @click="login">
      <v-icon>mdi-login</v-icon>
    </v-btn>

    <v-btn icon :to="{name:'Register'}">
      <v-icon>mdi-account-plus</v-icon>
    </v-btn>

    <LoginForm v-if="showSignin" :show="showSignin" @closeDialog="login"/>
  </v-app-bar>
</template>

<script>

  import LoginForm from '../../../components/Dialogs/LoginForm'

  export default {
    name: 'AppHeader',
    components: {
      LoginForm
    },
    data: () => ({
      showSignin: false,
    }),
    computed: {
      // ...mapGetters(['isAuthenticated', 'getAuth', 'getAudioVolumeMute']),
    },
    methods: {
      login () {
        return this.showSignin = !this.showSignin
      },
      logout () {

      },
    }
  }
</script>

<style scoped>

</style>
