.breadcrumb {
  font-size: 14px;
  line-height: 1.43;
  margin-bottom: 0;
  li {
    display: inline;
    a {
      text-decoration: none;
      vertical-align: middle;
      display: inline;
      span {
        vertical-align: middle;
        display: inline;
      }
    }
  }
  li + li:before {
    background-color: transparent;
    background-image: url(/img/static/icons/arrow-right-hover.svg);
    background-repeat: no-repeat;
    background-size: 7px auto;
    background-position: 50% 50%;
    width: 7px;
    height: 12px;
    vertical-align: middle;
    content: "";
    display: inline-block;
    margin: 0 6px;
  }
}