
.fileinput {
  height: 40px;
  width: 150px;
  margin: 0 auto;
  &__block {
    margin-top: 10px;
  }
  &__button {
    display: block;
    height: 40px;
    width: 150px;
    position: relative;
    border: 3px solid #51b98d;
    text-align: center;
    vertical-align: middle;
    color: rgb(92, 179, 142);
    cursor: pointer;
    span {
      height: 40px;
      width: 150px;
      line-height: 40px;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%);
    }
  }
}