.logo{
  margin: 0;
}

.optum {
  &__navbar {
    background-color: #fff;
    border-bottom: 4px solid $color-base;
    box-shadow: $shadow;
    .logo {
      .navbar-brand {
        &:first-letter {
          font-size: 120%;
          font-weight: 800;
          color: $color-base_with;
        }
      }
    }
    .nav-link{
      font-size: 16px;
      color: $link-color !important;
      &:hover,
      &.active,
      &:focus{
        color: $link-color_hover !important;
        text-decoration: none;
      }
    }
  }

}