<template>
    <div class="page-login main-center">
        <h1>Complete your account</h1>
        <h3 class="text-center" v-if="!isFormFirstStep">{{isFormFirstStep}}</h3>
        <div class="form-group" :class="{ 'has-error':errors.username.length }">
            <!--<label for="email" class="cols-sm-2 control-label">Your Email</label>-->
            <div class="cols-sm-10">
                <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fglyphicon glyphicon-envelope" aria-hidden="true"></i>
                        </span>
                    <input type="text" class="form-control" v-model="user.username" id="username" placeholder="Username"/>
                </div>
                <span class="help-block" v-if="errors.username.length">
                        <strong v-for="error in errors.username">{{ error }}</strong>
                    </span>
            </div>
        </div>

        <div class="text-center">

            <!--<bounce-loader :loading="loading"></bounce-loader>-->

            <button class="btn btn-primary btn-lg btn-block login-button" @click="nextStep('step-three')">Next</button>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['nextStep'],
        data() {
            return {
                isFormFirstStep: false,
                currentStep: 'step-two',
                user: {
                    username: '',

                },
                errors: {
                    username: [],
                },
            }
        },
        mounted() {

        },


    }
</script>