// Color
//$color-base: #40a003;
$color-base: #3097c3;
//$color-base_light: #71da3f;
$color-base_light: #00b7d7;
//$color-base_light: #60b9db;
//$color-base_light_opacity: rgba(104, 206, 60, 0.59);
$color-base_light_opacity: #ade5f5;
//$color-base_with: #068325;
$color-base_with: #037baf;

// shadow

//$shadow: 0 2px 4px rgba(64, 160, 3, 0.25);
$shadow: 0 1px 5px rgba(41, 113, 155, 0.69);;


// Body
$body-bg: #f5f8fa;

// Boreder
$border-color: #ced4da;

// Typography
$font-family-sans-serif: "Roboto", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$text-color: #4a4a4a;

$link-color: $text-color;
$link-color_hover: $color-base_with;


// Navbar
$navbar-default-bg: #fff;

// Buttons
$btn-default-color: $text-color;

// Panels
$panel-default-heading-bg: #fff;

// Chat
$chat-height: 90vh;


// Bootstrap

$primary:       $color-base_with !default;
