//@import "./../vendor/fusetheme/assets/icons/fuse-icon-font/style.css";
//@import "./../vendor/fusetheme/assets/node_modules/animate.css/animate.min.css";
//@import "./../vendor/fusetheme/assets/node_modules/pnotify/dist/PNotifyBrightTheme.css";
//@import "./../vendor/fusetheme/assets/node_modules/nvd3/build/nv.d3.min.css";
//@import "./../vendor/fusetheme/assets/node_modules/perfect-scrollbar/css/perfect-scrollbar.css";
//@import "./../vendor/fusetheme/assets/fuse-html/fuse-html.min.css";
//@import "./../vendor/fusetheme/assets/css/main.css";

//// Bootstrap
//@import '~bootstrap/scss/bootstrap';
//
//@import "base";
//
//// Pages
//@import "pages/admin/admin";

/// admin page create
.page-layout {
  & > .page-header {
    height: 10rem;
    min-height: 10rem;
    max-height: 10rem;
  }

}