// Fonts
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,600");

$fa-font-path: "/fonts/font-awesome" !default;
@import "~font-awesome/scss/font-awesome.scss";

// Variables
@import "variables";
// Bootstrap
@import '~bootstrap/scss/bootstrap';
//@import '~bootstrap/scss/variables';



@import "base";

// Components
@import "components/top-navigation";
@import "components/catalog-search";
@import "components/breadcrumb";
@import "components/goods";
@import "components/file_input";
@import "components/chat";
@import "components/modals/_login";


// Pages
@import "pages/home";
@import "pages/catalog";
@import "pages/company/company";
@import "pages/company/product-list";
@import "pages/register";
@import "pages/cabinet";




.label-tip {
  color: #7cb342;
  font-weight: 400;
  font-size: 8px;
  border: 1px solid;
  border-radius: 10px;
  padding: 1px 3px;
  margin-left: 5px;
  text-transform: uppercase;
  position: relative;
  bottom: 2px;
}