body {
  font-family: Nunito, Helvetica Neue, Helvetica, Arial, sans-serif;
}

:active, :focus {
  outline: none !important;
}

[v-cloak] {
  display: none;
}

i.fa {

}

a {
  color: $color-base_with !important;
}

.img-circle {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  vertical-align: middle;
}

.img_avatar {
  display: inline-block;
  margin-right: 10px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 100%;
  overflow: hidden;

  &__x50 {
    width: 50px;
    height: 50px;
  }

  &__circle {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    vertical-align: middle;
  }
}

.user_nav_link {
  line-height: 25px;

  .img_avatar {
    float: left;
  }
}

.x25 {
  width: 25px;
  height: 25px;
}

.card {
  &__head {
    border-bottom: 1px solid #eee;
    padding: 10px 20px;
    display: flex;
    align-items: center;
  }

  &__title {
    font-size: 19px;
    margin: 0;
    font-weight: 400;
  }

  &__title-list {
    padding: 0;
    margin: 0 0 .5em;
    font-size: 18px;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.3;
    color: inherit;
  }

  &__content {
    padding: 20px;
  }
}

.media {
  align-items: center;
  display: flex;
  margin-bottom: 1rem;

  &--no-space {
    margin: 0;
    padding: 0;
  }

  &-object {
    display: block;
  }

  &-left {
    padding-right: 15px;
  }

  &-right {
    padding-left: 15px;
  }

  &-middle {
    align-self: center;
  }

  &-body {
    flex: 1;
  }

}

// ICONS

.pro_icon {
  text-transform: uppercase;
  border: 1px solid;
  border-radius: 10px;
  padding: 0 5px;
  line-height: 120%;
  font-size: 80%;
  font-weight: 400;
}

.modal-backdrop {
  background-color: #3097c3;

  &.show {
    opacity: .9;
  }
}

.modal-header {
  .close {
    margin: -1.9rem -1rem -1rem auto;
  }
}

.close {
  font-size: 3rem !important;
  font-weight: 100;
  color: $color-base;
  opacity: .9;

  &:hover {
    color: #0b1c2f
  }
}

// FORM

OPTGROUP.optgroup {
  color: $color-base_with; /* Цвет текста */
}

OPTION {
  color: $text-color; /* Цвет текста */
  background: #fff; /* Цвет фона */
}

.app-content {
  margin-top: 30px;
}