<template>
    <div class="custom_dropdown">

        <Spinner v-if="loaders"></Spinner>

        <button @click.prevent="toggle" class="custom_dropdown__btn" :class="{ disabled: disabled }" type="button">
            {{ label }}
        </button>

        <div class="custom_dropdown__list">
            <CustomDropdownItem
                    v-if="visible"
                    v-for="(item, index) in optionsList"
                    :index="index"
                    :key="item.id"
                    :options="item"
                    :value="result"
                    value-key="id"
                    label-key="name"
                    @input="getInput"
                    @children="setBlockChildren"
                    ref="'dropdown__list'"
            >
            </CustomDropdownItem>
        </div>

    </div>
</template>

<script>
  // TODO переделать  custom_dropdown__list на рекурсивную

  import Spinner from '../../../components/Spinner'
  import CustomDropdownItem from './CustomDropdownItem'

  export default {
    name: 'CustomDropdownList',
    components: {
      CustomDropdownItem,
      Spinner
    },
    props: {
      value: {
        required: true
      },
      options: {
        type: Array,
        required: true
      },
      disabled: {
        type: Boolean,
      },
      click_close: {
        type: Boolean,
        default: false
      },
    },
    data () {
      return {
        loaders: false,
        visible: false,
        label: '',
        options_list: [],
        result: this.value,
      }
    },

    computed: {
      optionsList: {
        get () {
          return this.getList()
        },
        set (newValue) {
          this.options_list = newValue
        }

      }
    },

    created: function () {

      this.$parent.$on('get-category', this.getCategory)

      window.addEventListener('click', this.closeEvent)
    },
    beforeDestroy () {
      window.removeEventListener('click', this.closeEvent)
    },
    methods: {

      getCategory () {
        this.loaders = true
      },

      getList () {
        if (this.options) {
          this.loaders = false
          return this.options_list = [this.options]
        }
        return this.options_list
      },

      setBlockChildren (value, index, visible) {
        if (this.isChildren(value)) {

          let count = this.options_list.length

          if (count === 3 && index === 0 && visible) {
            this.closeBlock(3 - 1, 1)
          }

          this.result = ''
          this.label = ''

          this.$set(this.optionsList, index + 1, value.children)
          this.$forceUpdate()
        }
      },

      getInput (value, index, visible) {

        let count = this.options_list.length

        if (!this.isChildren(value)) {

          // удаляем последний блок
          if (count === 3 && index === 1 && !visible) {
            this.closeBlock(3 - 1, 1)
          }
          // удаляем предпоследний блок
          else if (count === 2 && index === 0 && !visible) {
            this.closeBlock(2 - 1, 1)
          }
          // удаляем два последних блока
          else if (count === 3 && index === 0 && !visible) {
            this.closeBlock(1, 2)
          }

          this.result = value
          this.label = value.name

          this.$emit('input', value)
          this.close()

        } else {

          this.$nextTick(function () {
            this.result = ''
            this.label = ''
          })
        }

      },

      closeBlock (index, count) {
        this.options_list.splice(index, count)
        this.$forceUpdate()
      },

      isChildren (node) {
        return Boolean(node.children && node.children.length)
      },

      toggle () {
        if (this.disabled) {
          return false
        }
        this.visible = !this.visible
      },

      closeEvent (e) {
        if (!this.$el.contains(e.target)) {
          this.close()
        }
      },

      close () {
        this.visible = false
        this.$emit('close-list')
      },

    }
  }
</script>

<style lang="scss" scoped>

    .custom_dropdown {
        position: relative;
        &__btn {
            width: 100%;
            height: 100%;
            padding: 18px 15px;
            text-align: left;
            border-radius: 3px;
            background-color: #fff;
            border: 1px solid rgba(74, 74, 74, .3);
            font-size: 16px;
            font-weight: 300;
            line-height: 1.31;
            color: #4a4a4a;
            margin-bottom: 10px;
            &:after {
                content: "";
                display: inline-block;
                float: right;
                margin-top: 5px;
                background-color: transparent;
                background-image: url(/img/static/icons/arrow.svg#arrow-down-hover-usage);
                background-repeat: no-repeat;
                background-size: 16px auto;
                background-position: 50% 50%;
                background-position-x: 50%;
                background-position-y: 50%;
                width: 16px;
                height: 10px;
            }
        }

        &__list {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            position: absolute;
            top: 65px;
            left: 0;
            z-index: 1000;
        }

        .loadingSpinner {
            position: absolute;
            top: 17px;
            left: 15px;
        }

    }
</style>