<template>
    <transition name="fade">
        <div class="dropdown__list">
            <VuePerfectScrollbar
                    class="scroll-area"
                    :settings="settingsScroll"
                    @ps-scroll-y="scrollHanle">
                <ul>
                    <li v-for="(item, index) in options"
                        :key="index"
                        class="dropdown__item false"
                        :value="getVal(value)"
                        @click="change(item)"
                        :class="{active: getVal(item) === getVal(value)}">
                        <span class="catalog__item">{{getLabel(item)}}</span>
                    </li>
                </ul>
            </VuePerfectScrollbar>
        </div>
    </transition>
</template>

<script>

    // TODO добавить стили стрелок если есть потомки

  import VuePerfectScrollbar from 'vue-perfect-scrollbar'

  export default {
    name: 'CustomDropdownItem',
    components: {
      VuePerfectScrollbar
    },
    props: {
      value: {
        required: true
      },
      index: {
        type: Number
      },
      options: {
        type: [Object, Array],
        required: false
      },

      valueKey: {
        type: String,
        required: false
      },
      labelKey: {
        type: String,
        required: false
      },
      onChange: {
        type: Function,
        required: false
      },
      optset: {
        type: Boolean,
        default: false
      },
      isScroll: {
        type: Boolean,
        default: false
      },
      click_close: {
        type: Boolean,
        default: false
      },
      disabled: {
        type: Boolean,
      },
    },
    data () {
      return {
        index_item: this.index,
        settingsScroll: {
          maxScrollbarLength: 20,
          wheelSpeed: .4,
          // suppressScrollY:true,
        },
      }
    },
    methods: {
      isChildren (node) {
        return Boolean(node.children && node.children.length)
      },
      getVal (opt) {
        return !this.valueKey ? opt : opt[this.valueKey]
      },
      getLabel (opt) {
        return !this.labelKey ? opt : opt[this.labelKey]
      },
      scrollHanle (evt) {
        // console.log(evt)
      },
      change (opt) {

        if (opt !== undefined) {

          if (this.isChildren(opt)) {
            this.$emit('children', opt, this.index_item, true)
          } else {

            this.$emit('input', opt, this.index_item, false)
          }

          if (this.onChange !== undefined) {
            this.onChange(this.value)
          }

          // if (this.click_close || !this.isChildren(opt)) {
          //   this.close()
          // }

        }

        return false

      },
      // close () {
      //   this.$emit('close-list')
      // },
    }
  }
</script>

<style lang="scss" scoped>

    @import "../../../../sass/_variables.scss";

    .scroll-area {
        position: relative;
        margin: auto;
        width: 320px;
        height: 250px;
    }

    .dropdown {
        &__list {
            width: 330px;
            margin-right: 10px;
            background-color: #fff;
            z-index: 1000;
            padding: 15px 0;
            border-radius: 3px;
            box-shadow: 0 3px 6px 0 rgba(69, 69, 82, .2), 0 0 4px 0 rgba(69, 69, 82, .1);
            ol, ul {
                list-style: none;
                margin: 0;
                padding: 0;
                border: 0;
                font: inherit;
                vertical-align: baseline;
                span.label {
                    margin-left: 20px;
                    font-size: 18px;
                    color: $color-base_light;
                }
            }

        }
        &__item {
            padding: 5px 30px;
            font-size: 16px;
            line-height: 21px;
            font-weight: 300;
            color: #4a4a4a;
            cursor: pointer;
            &:hover {
                background: $color-base_light_opacity;
            }
            &.active {
                background: $color-base_light;
                &:hover {
                    background: $color-base_light_opacity;
                }
            }
        }
    }
</style>