<template>
    <div class="custom_dropdown">
        <button @click.prevent="toggle" class="custom_dropdown__btn" :class="{ disabled: disabled }" type="button">
            {{ getLabel(value) }}
        </button>
        <transition name="fade">
            <div v-show="visible" class="custom_dropdown__list">

                <template v-if="isScroll">
                    <VuePerfectScrollbar class="scroll-area"
                                         :settings="settingsScroll"
                                         @ps-scroll-y="scrollHanle">
                        <template v-if="optset === true">
                            <ul v-for="(data, index) in options" :key="index">
                                <span class="label">{{ data.name }}</span>
                                <template v-if="isChildren(data)">
                                    <li v-for="(item, index) in  data.children"
                                        class="dropdown__item false"
                                        :value="getVal(value)" @click="change(item)"
                                        :class="{active: getVal(item) === getVal(value)}"
                                    >
                                        <span :value="item.id" class="catalog__item">{{getLabel(item)}}</span>
                                    </li>
                                    <div v-if="visible" @click="toggle" class="select_overlay"></div>
                                </template>
                            </ul>
                        </template>

                        <template v-else>
                            <ul>
                                <li v-for="(item, index) in options"
                                    class="dropdown__item false"
                                    :value="getVal(value)" @click="change(item)"
                                    :class="{active: getVal(item) === getVal(value)}"
                                >
                                    <span :value="item.id" class="catalog__item">{{getLabel(item)}}</span>
                                </li>
                            </ul>
                        </template>
                    </VuePerfectScrollbar>
                </template>
                <template v-else>
                    <template v-if="optset === true">
                        <ul v-for="(data, index) in options" :key="index">
                            <span class="label">{{ data.name }}</span>
                            <template v-if="isChildren(data)">
                                <li v-for="(item, index) in  data.children"
                                    class="dropdown__item false"
                                    :value="getVal(value)" @click="change(item)"
                                    :class="{active: getVal(item) === getVal(value)}"
                                >
                                    <span :value="item.id" class="catalog__item">{{getLabel(item)}}</span>
                                </li>
                            </template>
                        </ul>
                    </template>

                    <template v-else>
                        <ul>
                            <li v-for="(item, index) in options"
                                class="dropdown__item false"
                                :value="getVal(value)" @click="change(item)"
                                :class="{active: getVal(item) === getVal(value)}"
                            >
                                <span :value="item.id" class="catalog__item">{{getLabel(item)}}</span>
                            </li>
                        </ul>
                    </template>
                </template>

            </div>
        </transition>
    </div>
</template>

<script>

  import VuePerfectScrollbar from 'vue-perfect-scrollbar'

  export default {
    name: 'CustomDropdown',
    components: {
      VuePerfectScrollbar
    },
    props: {
      value: {
        required: true
      },
      options: {
        type: Array,
        required: true
      },
      valueKey: {
        type: String,
        required: false
      },
      labelKey: {
        type: String,
        required: false
      },
      onChange: {
        type: Function,
        required: false
      },
      disabled: {
        type: Boolean,
      },
      optset: {
        type: Boolean,
        default: false
      },
      isScroll: {
        type: Boolean,
        default: false
      },
      click_close: {
        type: Boolean,
        default: false
      }
    },
    data () {
      return {
        visible: false,
        settingsScroll: {
          maxScrollbarLength: 40,
          wheelSpeed: .4,
          // suppressScrollY:true,
        },
      }
    },
    created: function () {
      window.addEventListener('click', this.close)
    },
    beforeDestroy () {
      window.removeEventListener('click', this.close)
    },
    methods: {
      isChildren (node) {
        return node.children && node.children.length
      },
      getVal (opt) {
        return !this.valueKey ? opt : opt[this.valueKey]
      },
      getLabel (opt) {
        return !this.labelKey ? opt : opt[this.labelKey]
      },
      change (opt) {
        this.$emit('input', opt)

        if (this.click_close) {
          this.visible = false
        }

        if (this.onChange !== undefined) {
          this.onChange(this.value)
        }
      },
      toggle () {
        if (this.disabled) {
          return
        }
        this.visible = !this.visible
      },
      close (e) {
        if (!this.$el.contains(e.target)) {
          this.visible = false
        }
      },
      scrollHanle (evt) {
        // console.log(evt)
      },
    }
  }
</script>

<style lang="scss" scoped>

    @import "../../../../sass/_variables.scss";

    .scroll-area {
        position: relative;
        margin: auto;
        width: 320px;
        height: 350px;
    }

    .custom_dropdown {
        position: relative;
        &__btn {
            width: 100%;
            height: 100%;
            padding: 18px 15px;
            text-align: left;
            border-radius: 3px;
            background-color: #fff;
            border: 1px solid rgba(74, 74, 74, .3);
            font-size: 16px;
            font-weight: 300;
            line-height: 1.31;
            color: #4a4a4a;
            margin-bottom: 10px;
            &:after {
                content: "";
                display: inline-block;
                float: right;
                margin-top: 5px;
                background-color: transparent;
                background-image: url(/img/static/icons/arrow.svg#arrow-down-hover-usage);
                background-repeat: no-repeat;
                background-size: 16px auto;
                background-position: 50% 50%;
                background-position-x: 50%;
                background-position-y: 50%;
                width: 16px;
                height: 10px;
            }
        }
        &__list {
            background-color: #fff;
            z-index: 1000;
            position: absolute;
            top: 65px;
            left: 0;
            width: 100%;
            padding: 15px 0;
            border-radius: 3px;
            box-shadow: 0 3px 6px 0 rgba(69, 69, 82, .2), 0 0 4px 0 rgba(69, 69, 82, .1);
            ol, ul {
                list-style: none;
                margin: 0;
                padding: 0;
                border: 0;
                font: inherit;
                vertical-align: baseline;
                span.label {
                    margin-left: 20px;
                    font-size: 18px;
                    color: $color-base_light;
                }
            }

        }
        .dropdown {
            &__item {
                padding: 5px 30px;
                font-size: 16px;
                line-height: 21px;
                font-weight: 300;
                color: #4a4a4a;
                cursor: pointer;
                &:hover {
                    background: $color-base_light_opacity;
                }
                &.active {
                    background: $color-base_light;
                    &:hover {
                        background: $color-base_light_opacity;
                    }
                }
            }
        }
    }
</style>