<template>
    <div class="invalid-feedback" style="display:block" v-if="errors">
        <span v-for="fieldError in errors">
            {{ fieldError }}
        </span>
    </div>
</template>

<script>
    module.exports = {
        props: [
            'errors',
        ],
    }
</script>
