.company {

  &__header {
    padding: 20px 0;
    background-color: #fff;
    border-top: 1px solid rgba(74, 74, 74, .1);
    border-bottom: 1px solid rgba(74, 74, 74, .1);
    margin-bottom: 0;

    .company_name {
      font-size: 30px;
      line-height: 1.4;
      margin-right: 40px;
      margin-bottom: 0;
      float: left;
    }
      .company_links {
      padding: 6px 0 0;
      display: inline-block;
      position: relative;
      &__item {
        display: inline-block;
        margin: 5px 15px 5px 0;
        font-size: 16px;
        font-weight: 300;
        color: #4a4a4a;
        cursor: pointer;
      }
    }

    .popover_open_link {
      &:after {
        content: "";
        display: inline-block;
        margin-left: 4px;
        background-color: transparent;
        background-image: url(/img/static/icons/arrow.svg#arrow-down-default-usage);
        background-repeat: no-repeat;
        background-size: 12px auto;
        background-position: 50% 50%;
        width: 12px;
        height: 8px;
      }
      &.active:after,
      &:focus:after {
        background-image: url(/img/static/icons/arrow.svg#arrow-up-default-usage);

      }
    }

  }
}

.popover-list {
  &__wrapper {
    z-index: 1000;
    position: absolute;
    background-color: transparent;
    right: 0;
    left: 0;
    height: 0;
    bottom: auto;
    top: 40px;
  }
  &__content {
    float: left;
    width: 340px;
    margin-right: 30px;
    background-color: #fff;
    border-radius: 3px;
    -webkit-box-shadow: 0 20px 40px 0 rgba(74, 74, 74, 0.2), 0 0 4px 0 rgba(74, 74, 74, 0.1);
    box-shadow: 0 20px 40px 0 rgba(74, 74, 74, 0.2), 0 0 4px 0 rgba(74, 74, 74, 0.1);
    border: 1px solid rgba(74, 74, 74, 0.15);
    overflow: hidden;
    height: auto;
    position: relative;
    padding: 20px 0 10px;
  }
}