// suppliers preview product
.suppliers_product_list {
  overflow: hidden;
  .product_list {
    display: flex;
    justify-content: space-around;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    margin: 0 0 -20px;
    padding-bottom: 20px;
    width: 100%;
    .product_item_wrapper {
      width: 19%;
      margin-bottom: 20px;
      vertical-align: top;
      padding: 0;
      .product_item {
        display: block;
        white-space: normal;
        .product_link {
          position: relative;
          display: inline-block;
          text-decoration: none;
          max-width: 100%;
        }
        .product_img {
          height: 160px;
          width: 100%;
          display: flex;
          position: relative;
          border-radius: 3px;
          border: 1px solid rgba(74, 74, 74, .2);
          overflow: hidden;
          background-color: #fff;
          img {
            width: auto;
            height: auto;
            max-width: 100%;
            max-height: 100%;
            margin: auto;
          }
        }
        .product_name {
          margin-bottom: 5px;
          display: block;
          max-height: 40px;
          overflow: hidden;
          text-overflow: ellipsis;
          max-width: 100%;
          font-size: 12px;
        }
        .product_price {
          color: $text-color;
        }
      }
    }
  }
}



//product add
.section-product-add{
  min-height: 500px;
}