<template>

    <div>
        <div v-for="(field, index) in features_list" :key="index">

            <div v-if="isTypeString(field)" class="form-group">

                <label class="col-form-label">{{field.title}}</label>
                <input type="text"
                       @input="result(field, index, $event)"
                       class="field-value">
            </div>

            <div v-if="isTypeCheckbox(field)" class="form-group">
                <TagsSelector v-if="field"
                              :options="field.values"
                              @change="result(field, index, $event)">
                </TagsSelector>
            </div>

        </div>
    </div>

</template>

<script>

  import TagsSelector from '../../components/Inputs/TagsSelector'

  export default {
    name: 'FeaturesList',
    props: {
      features_list: {
        type: Array,
        required: true
      }
    },
    components: {
      TagsSelector,
    },
    data () {
      return {
        features: []
      }
    },
    methods: {
      result(field, index, event)
      {
        console.log( event.target.value)

        this.features[index] = field
        this.features[index].values = event.target.value
      },
      isTypeString (item) {
        return Boolean(item.type === 'string')
      },
      isTypeCheckbox (item) {
        return Boolean(item.type === 'checkbox')
      }
    }
  }
</script>

<style scoped>

</style>