<template>
    <div class="row">
        <div class="col-md-3">

            <div v-if="categories.children.length > 0" class="left_catalog">
                <div id="left_catalog_wrapper" class="hidden-xs">
                    <p class="popover_open_link js-left_catalog-open">Уточнить категорию</p>
                    <p class="left_catalog__item">{{categories.name}}</p>
                    <div class="left_catalog__level">
                        <ul>

                            <li v-for="(category, index) in categories.children">
                                <a :href="category.link"
                                   class="left_catalog__item"
                                   v-html="catalog(category)">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div v-if="products.length" class="filters-catalog-wrapper">
                <div class="filters__body">
                    <div class="filters--price">
                        <p class="filters__title">Цена</p>
                        <range-cost-price :value="priceMatch" @input="changePrice($event)"/>
                    </div>
                </div>
            </div>


        </div>
        <div class="col-md-9">

            <div v-if="products.length" class="goods_list-wrapper">
                <div class="row goods_list clearfix">

                    <!--                    <Spinner v-if="loaders && !productList"></Spinner>-->

                    <div v-for="(product, index) in productList" :key="index" class="col-md-4 py-4">
                        <div class="goods_item-wrapper leaf__item">
                            <div class="goods_item">
                                <a class="goods_link"
                                   :href="product.link">
                                                    <span>
                                                        <div class="goods-image consumer">
                                                            <span class="imgWrapper">
                                                                <img :src="product.main_image"
                                                                     alt="products.title">
                                                            </span>
                                                        </div>
                                                    </span>
                                    <span class="goods-name">{{product.title}}</span>
                                </a>
                                <a v-if="product.company" :href="product.company.link"
                                   class="goods-company_name"
                                   target="_blank">{{product.company.name}}</a>
                                <p><span class="goods-category">{{product.category.name}}</span></p>
                                <div>
                                    <span class="goods-price">{{product.price}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--                <Pagination :data="products" @pagination-change-page="getResults"></Pagination>-->
            </div>

        </div>
    </div>
</template>

<script>

    import RangeCostPrice from '../../components/Inputs/RangeCostPrice'
    import Spinner from './../../components/Spinner'
    import Pagination from 'laravel-vue-pagination'

    export default {
        name: "ProductList",
        props: {
            categories: Object,
            categories_counts: Object,
            products: Array | Object,
            range_price: Object
        },
        data() {
            return {
                loaders: false,
                priceMatch: this.range_price,
            }
        },
        created() {
            console.log(this.products)
        },
        components: {
            RangeCostPrice,
            Spinner,
            // Pagination
        },
        computed: {
            productList() {
                let self = this;
                let lists = this.products

                // console.log(lists)
                //
                return lists.filter(function (query) {

                    let price = Math.round(query.cost_price);

                    return price >= self.priceMatch.min_price && price <= self.priceMatch.max_price
                })
            },// делать выборку по цене

        },
        methods: {
            catalog(category) {

                console.log('categories_counts', this.categories_counts)
                console.log('categories', category)

                return category.name + ' <span class="badge badge-light">' + this.categories_counts[Number(category.id)] + ' id:' + category.id + '</span>'
            },
            changePrice(event) {
                // console.log('event changePrice', event)
                this.priceMatch = event
            },
            queryPrice(query) {
                axios.get('/api/search', {
                    params: {
                        category: this.category.id,
                        price_min: query.min_price,
                        price_max: query.max_price
                    }
                })
                    .then(response => {
                        // console.log(response)

                        this.cost_price_results = response.data
                    })
                    .catch(function (error) {
                        console.log(error)
                    })
            },
            getResults(page = 1) {
                axios.get(categories.link + '?page=' + page)
                    .then(response => {
                        console.log(response)
                        this.products = response.data;
                    });
            }
        }
    }
</script>

<style scoped lang="scss">
    .goods_list-wrapper {
        min-height: 420px;
    }
</style>