<template>

    <div class="product-add">
        <form :action="save_url" method="post" @submit.prevent="sendForm">
            <div class="section-category">
                <div class="section-category__choice">
                    <div class="section-category__segment">
                        <div class="form-group col-md-4">
                            <label class="col-form-label">Выберите сегмент рынка</label>
                            <CustomDropdown @input="getCategory()"
                                            value-key="id"
                                            :isScroll="true"
                                            label-key="name"
                                            v-model="form.segment"
                                            :options="segment"
                                            :optset="true"
                                            :click_close="true">
                            </CustomDropdown>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="col-form-label">Выберите категории</label>
                            <CustomDropdownList
                                :disabled="categories_disabled"
                                v-model="form.category"
                                :options="categories"
                                :click_close="false"
                                @input="getFeatureList"
                            >
                            </CustomDropdownList>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section-product__options">
                <div v-if="overlay" class="section-product__overlay"></div>
                <div class="row">

                    <!--PHOTOS -->
                    <div class="col-xs-12 col-sm-4 col-md-3">
                        <div class="product-photo__section">
                            <div class="product-photo__preview">
                                <FileInputPreview
                                    v-model="main_photo"
                                    :field_name="'main_photo'"
                                    :wrap_w='210'
                                    :wrap_h='300'
                                    :width="210"
                                    :height="300"
                                    @input="changeMain">
                                </FileInputPreview>
                            </div>
                            <div class="product-photo__list">
                                <div v-cloak v-for="(attachment, index) in form.attachments" :key="index"
                                     class="product-photo__item">
                                    <!-- <div class="photo_wrapper">
                                         <img v-if="attachment.image" :src="attachment.image" alt="">
                                     </div>
                                     <label v-if="!attachment.image" class="product-photo__label" :for="'photo_'+index">
                                         <input type="file" :id="'photo_'+index"
                                                name="photo[]"
                                                @change="onFileChange"
                                                accept="image/png, image/jpeg"
                                                aria-invalid="false"
                                                v-show="false">
                                     </label>-->

                                    <FileInputPreview v-if="attachment.field  === 'main_photo'"
                                                      v-model="attachment.file"
                                                      :field_name="'photo[' + index + ']'"
                                                      :wrap_w='70'
                                                      :wrap_h='95'
                                                      :width="210"
                                                      :height="300"
                                                      @input="onFileChange(index)">
                                    </FileInputPreview>

                                    <FileInputPreview v-else
                                                      v-model="attachments[index]"
                                                      :field_name="'photo[' + index + ']'"
                                                      :wrap_w='70'
                                                      :wrap_h='95'
                                                      :width="210"
                                                      :height="300"
                                                      @input="onFileChange(index)">
                                    </FileInputPreview>
                                    <a v-if="attachment.file" @click="removeImage(index)">Удалить</a>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!--END PHOTOS -->
                    <div class="col-xs-12 col-sm-8 col-md-9">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-8">
                                <div class="form-group">
                                    <label class="col-form-label">Название товара</label>
                                    <input type="text" name="title" v-model="form.title" class="field-value">
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-4">
                                <div class="form-group">
                                    <p class="field-label">Информация о наличии</p>
                                    <div class="custom-control custom-radio">
                                        <input type="radio"
                                               v-model="form.available"
                                               value="true"
                                               id="customRadio1"
                                               name="available" checked
                                               class="custom-control-input">
                                        <label class="custom-control-label" for="customRadio1"> есть в наличии</label>
                                    </div>
                                    <div class="custom-control custom-radio">
                                        <input type="radio"
                                               v-model="form.available"
                                               value="false"
                                               id="customRadio2"
                                               name="available"
                                               class="custom-control-input">
                                        <label class="custom-control-label" for="customRadio2">отсутствует</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-8 col-sm-4 col-md-3">
                                <div class="form-group">
                                    <label class="col-form-label">Цена (₽)</label>
                                    <input type="text" name="cost_price" v-model="form.cost_price" class="field-value">
                                </div>
                            </div>
                            <div class="col-xs-8 col-sm-4 col-md-3">
                                <div class="form-group">
                                    <label class="col-form-label">Скидка (%)</label>
                                    <input type="text" name="discount" v-model="form.discount" class="field-value">
                                </div>
                            </div>
                            <div class="col-xs-8 col-sm-4 col-md-3">
                                <div class="form-group">
                                    <label class="col-form-label">Со скидкой (₽)</label>
                                    <input type="text" name="discount_price" v-model="form.discount_price"
                                           class="field-value">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-md-12">
                                <div class="form-group">
                                    <label class="form-label">Описание (максимум 500 символов)</label>
                                    <textarea class="form-control"
                                              rows="5"
                                              v-model="form.description"
                                              id="discription"
                                              name="description">
                                </textarea>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="section-product__features">

                                <div class="section-product__title">Характеристики</div>
                                <Spinner v-if="loaders_features && !features_list"></Spinner>

                                <div v-if="features_list" id="features_required">
                                    <FeaturesList :features_list="features_list"></FeaturesList>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="section-product__action">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-md-9 offset-md-3">
                            <div class="action_panel__btns">
                                <button type="submit" class="btn btn-warning">Добавить</button>
                                <a href="/profiles/company/product/add" class="btn btn-warning-ghost">Отмена</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

</template>

<script>

  import CustomDropdown from '../../components/Inputs/Dropdown/CustomDropdown'
  import CustomDropdownList from '../../components/Inputs/Dropdown/CustomDropdownList'
  import FileInputPreview from './../../components/Inputs/FileInputPreview'
  import FeaturesList from './FeaturesList'
  import Spinner from './../../components/Spinner'

  export default {
    name: 'product-add',
    props: {
      save_url: '',
      segment: {
        type: Array,
        required: true
      }
    },
    components: {
      Spinner,
      CustomDropdown,
      CustomDropdownList,
      FileInputPreview,
      FeaturesList
    },
    data () {
      return {
        overlay: true,
        form: {
          segment: '',
          category: '',
          attachments: [],
          features: [],
          title: '',
          available: '',
          cost_price: '',
          discount: '',
          discount_price: '',
        },

        // data: new FormData(),
        categories: [],
        categories_disabled: true,
        main_photo: null,
        photos: {},

        // You can store all your files here
        attachment: {
          field: '',
          file: '',
        },

        upload_size: 0,
        features_list: null,
        loaders_features: false,
        activeTags: [],
      }
    },

    computed: {
      // features(){
      //   return this.form.features.filter(line => line === null || line === undefined || line === '')
      // }
    },

    // created () {
    //   this.getFeatures(4)
    // },

    methods: {

      sendForm () {

        if (this.form.features.length > 0) {
          this.form.features = this.form.features.filter(line => line !== null || line !== undefined || line !== '')
        }

        console.log(this.form)
      },

      changeMain () {
        this.attachments.push(Vue.util.extend({}, this.main_photo))
        if (this.attachments.length <= 4) {
          this.attachments.push(Vue.util.extend({}, {
            ield: null,
            file: null,
          }))
        }
      },

      isChildren (node) {
        return node.children && node.children.length
      },

      removeImage (index) {
        Vue.delete(this.attachments, index)
        this.attachments.push(Vue.util.extend({}, this.attachment))
      },

      onFileChange (index) {
        if (this.attachments.length <= 4) {
          this.attachments.push(Vue.util.extend({}, this.attachment))
        }
      },

      // createImage (file) {
      //   var image = new Image()
      //   var reader = new FileReader()
      //   var vm = this
      //
      //   reader.onload = (e) => {
      //
      //     this.attachments.push(Vue.util.extend({}, {image: e.target.result}))
      //     //
      //     // if(this.attachments.length <= 4)
      //     // {
      //     //   this.attachments.push(Vue.util.extend({}, {}))
      //     // }
      //
      //   }
      //   reader.readAsDataURL(file)
      // },
      getCategory () {

        this.categories_disabled = true
        this.$emit('get-category')

        let segment_id = this.form.segment.id

        axios.post('/api/catalog', { segment: segment_id })
          .then(response => {

            if (response.data.data.length) {
              this.categories = response.data.data
              this.categories_disabled = false
            }

          })
          .catch(function (error) {
            this.categories = []
            this.categories_disabled = true
            console.log(error)
          })

      },

      // TODO удалить потом
      getFeatures (category_id) {
        axios.post('/api/catalog/features', { category: category_id })
          .then(response => {
            console.log(response)
            if (response.data.data.length) {
              this.features_list = response.data.data
              this.loaders_features = false
            } else {
              this.features_list = null
            }
          }).catch(function (error) {
          console.log(error)
          // this.features = null

        })
      },

      getFeatureList (event) {

        console.log('getFeatureList', event)

        if (this.form.category.id) {

          this.overlay = false
          this.loaders_features = true

          setTimeout(() => {
            this.getFeatures(this.form.category.id)
          }, 1000)

        }

      },

    }

  }
</script>

<style scoped lang="scss">

    .photo_wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        position: relative;
        border-radius: 3px;
        border: 1px solid rgba(74, 74, 74, .2);
        overflow: hidden;
        background-color: #fff;
    }

    .custom_dropdown__list_parent {
        background-color: #fff;
        z-index: 1000;
        position: absolute;
        top: 102px;
        left: 360px;
        width: 100%;
        padding: 15px 0;
        border-radius: 3px;
        box-shadow: 0 3px 6px 0 rgba(69, 69, 82, .2), 0 0 4px 0 rgba(69, 69, 82, .1);

        ol, ul {
            list-style: none;
            margin: 0;
            padding: 0;
            border: 0;
            font: inherit;
            vertical-align: baseline;
        }
    }

    .product-photo {
        &__section {
            width: 100%;
        }

        &__preview {
            width: 210px;
            height: 300px;
            border-radius: 3px;
            box-shadow: 0 3px 6px 0 rgba(69, 69, 82, .2), 0 0 4px 0 rgba(69, 69, 82, .1);
            position: relative;
            margin-bottom: 20px;
        }

        &__list {
            margin: 0 -15px;
        }

        &__item {
            cursor: pointer;
            display: inline-block;
            margin-right: 25px;
            margin-bottom: 20px;
            position: relative;
            vertical-align: top;

            .photo_wrapper {
                width: 70px;
                height: 95px;
                border: 1px solid rgba(74, 74, 74, .3);
                border-radius: 3px;

                img {
                    width: auto;
                    height: auto;
                    max-width: 100%;
                    max-height: 100%;
                    margin: auto;
                }
            }
        }

        &__label {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            cursor: pointer;

            &:before {
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                margin-top: -12px;
                margin-left: -15px;
                background-size: 30px auto;
                background: transparent url(/img/static/icons/arrow.svg#download-photo-usage) no-repeat 50% 50%;
                width: 30px;
                height: 24px;
            }
        }

    }

    .field-value {
        outline: none;
        padding: 13px 15px;
        font-size: 16px;
        line-height: 24px;
        border: 1px solid rgba(74, 74, 74, .3);
        border-radius: 3px;
        margin-bottom: 3px;
        width: 100%;
        overflow: hidden;

        &:active,
        &:focus {
            outline: none !important;
        }
    }

    .section-product {

        &__title {
            margin: 10px 0;
            font-size: 24px;
        }

        &__options {
            position: relative;
        }

        &__overlay {
            position: absolute;
            z-index: 123;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            margin: auto;
            width: 100%;
            height: 100%;
            /*background: hsla(0, 0%, 100%, .5);*/
            background: rgba(245, 248, 250, 0.5);
        }

        &__features {
            min-height: 200px;
        }
    }


</style>
