
.avatar {
  display: block;
  width: 200px;
  margin: 10px auto;
}

.section-profile {
  margin-top: -10px;
  &__menu {
    margin-bottom: 20px;
  }
  &__navigation {
    margin-bottom: 20px;
    background: #fff;
    border-bottom: 1px solid $border-color;
  }
  &__header {
    padding: 15px 0;
    display: flex;
    flex-wrap: nowrap;
    h1 {
      font-size: 30px;
      line-height: 1.4;
    }
  }
}

.profile-menu-wrapper {
  .profile-menu {
    position: static;
    background: #fff;
    border: 0;
    width: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    transition: left .3s;
    &__list {
      list-style: none;
      padding: 0;
      margin: 0;
      li {
        float: left;
      }
      .btn-profile-header {
        background: #fff;
        border-radius: 1px !important;
        border: none;
        padding: 5px 15px;
        font-size: 16px;
        line-height: 21px;
        font-weight: 300;
        display: block;
        box-shadow: none;
        outline: none;
        text-align: left;
        transition: all .1s;
        &.active,
        &:hover,
        &:focus,
        &:active {
          color: $color-base;
          background: none;
          border-bottom: 3px solid $color-base_light;
        }
      }
    }

  }
}

.sub-menu {
  margin-bottom: 20px;
  &__item {
    display: inline-block;
    padding: 7px 15px;
    border-radius: 3px;
    border: 1px solid transparent;
    color: #4a4a4a;
    font-size: 14px;
    line-height: 1.43;
    &:hover {
      background-color: $color-base_light_opacity;
      border-color: $color-base_light_opacity;
      text-decoration: none;
    }
    &.active,
    &:focus,
    &:active {
      color: $color-base;
      background: none;
      border-color: $color-base_light;
    }
  }
}

.user-info__photo-wrapper {
  float: left;
}