.partition-list__wrapper {
  top: -1px;
  display: block;
  position: relative;
  background-color: $color-base_light_opacity;
  max-height: 56px;
  overflow: hidden;
  transition: all .6s;

  .partition-list {
    padding: 6.5px 15px;

    &__item {
      margin: 6.5px 25px 6.5px 0;
      display: inline-block;
      color: $text-color !important;

      &.active,
      &:hover {
        position: relative;
        text-decoration: none;
        color: $color-base !important;

        &:after {
          content: "";
          display: block;
          position: absolute;
          height: 3px;
          top: -13px;
          left: -7px;
          right: -7px;
          background-color: $color-base;
          border-radius: 1px;
        }
      }

      span {
        line-height: 30px;
        vertical-align: top;
        display: inline-block;
      }
    }
  }

}

///PAGES

.catalog_header {
  width: 100%;
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 40px;
}


.catalog-name-wrapper {
  display: flex;

  .catalog-name {
    margin: 0;
  }

  .switch-btn__wrapper {
    display: flex;
    justify-content: flex-end;

    a {
      vertical-align: top;
      display: inline-block;

      &.active {
        //text-decoration: blink !important;
        color: $color-base_light !important;
      }
    }
  }

  .switch-btn {
    font-size: 16px;
    line-height: 1.5;
    margin: auto 0;

    &__sign {
      display: inline-block;
      vertical-align: top;
      font-size: 18px;
      line-height: 2.4;
    }

  }

}


.catalog_children {

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: left;
    padding-left: 20px;
  }
  .catalog_title{
    font-weight: bold;
  }
}