
section {
  &.section {
    width: 100%;
    display: table;
    margin: 0;
    padding: 0;
    max-width: none;
    height: 100vh;
    overflow: hidden;

  }

  &.intro {
    width: 100%;
    height: 90vh;
    margin: 0;
    padding: 0;
    max-width: none;
    overflow: hidden;
    background: url(/img/static/background/main-section_bg.jpg) no-repeat;

    h1 {
      color: #fff;
      font-weight: bold;
    }

    h2 {
      margin-top: 10px;
      color: #fff;
    }
  }

  .group_action {
    margin-top: 30%;
    text-align: center;

    .btn-action {
      font-size: 18px;
      color: #fff !important;
    }
  }

  .content {
    margin-top: 60px;
    text-align: center;
  }
}

.card-body {
  padding: 0.5rem;
  text-align: center;
}

.section-category {
  padding: 40px 0;
}

.masonry-container{}

.masonry-item {
  width: 24%;
  margin-bottom: 14px;
}