<template>
    <component :is="layout"/>
</template>

<script>

  import BaseLayout from './views/layouts/BaseLayout'

  export default {
    name: 'App',
    components: {
      BaseLayout,
    },
    computed: {
      layout () {
        return (this.$route.meta.layout || 'base') + '-layout'
      }
    },
  }
</script>
