<template>
  <v-app>
    <AppHeader></AppHeader>

    <v-content>
      <router-view :key="key"/>
    </v-content>
  </v-app>
</template>
<script>

  import AppHeader from './components/AppHeader'

  export default {
    name: 'BaseLayout',
    components: {
      AppHeader,
    },
    computed: {
      key () {
        return this.$route.path
      },
    },

  }
</script>
