<template>
    <li
        @mouseover="item.hover=true"
        @mouseout="item.hover=false"
        :class="item.hover ? 'active' : ''"
        class="list-group-item"
    >{{item.name}}
    </li>
</template>

<script>
  export default {
    name: 'CatalogItem',
    props: ['item'],
  }
</script>

<style scoped>

</style>