<template>
    <div class="catalog-wrapper">
        <div class="input-group-append">
            <button @click.prevent="toggle" class="btn btn-primary catalog-open float-left" id="catalogOpen">
                <i class="fa fa-bars" aria-hidden="true"></i>
                {{button_name}}
            </button>
            <SearchBox/>
            <Location/>
            <!--<input type="text"-->
            <!--class="form-control"-->
            <!--placeholder="Поиск"-->
            <!--id="search-input">-->
        </div>
        <transition name="fade">
            <div v-show="visible_first" class="popover_wrapper">
                <div class="container">
                    <div class="catalog__popover">
                        <div class="popover-inner" id="main-pop">
                            <div class="popover-content">
                                <Spinner v-if="catalog_first.length === 0"></Spinner>
                                <VuePerfectScrollbar class="scroll-area" :settings="settingsScroll"
                                                     @ps-scroll-y="scrollHanle">
                                    <div class="catalog__list">

                                        <ul v-for="(data, index) in catalog_first" :key="index">
                                            <span class="label">{{ data.name }}</span>
                                            <template v-if="isChildren(data)">
                                                <li v-for="(item, index) in  data.children"
                                                    @mouseover="show_second(item); currentFirstTitle(item); item.hover=true"
                                                    @mouseout="item.hover=false"
                                                    :class="{active:item.hover}"
                                                    class="clearfix"
                                                ><a class="catalog__item" :href="item.link">{{item.name}}</a>
                                                </li>
                                            </template>
                                        </ul>
                                    </div>
                                </VuePerfectScrollbar>
                            </div>
                        </div>
                    </div>
                    <transition name="fade">
                        <div class="catalog__popover" v-show="visible_second">
                            <div class="popover-inner" id="second-pop">
                                <div class="popover-content">
                                    <VuePerfectScrollbar class="scroll-area" :settings="settingsScroll"
                                                         @ps-scroll-y="scrollHanle">
                                        <div class="catalog__list">
                                            <div>{{catalog_first_title}}</div>
                                            <ul>
                                                <li v-for="(item, index) in catalog_second" :key="index"
                                                    @mouseover="show_third(item); currentThirdTitle(item); item.hover=true"
                                                    @mouseout="item.hover=false"
                                                    :class="{active:item.hover}"
                                                    class="clearfix">
                                                    <a class="catalog__item" :href="item.link">{{item.name}}</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </VuePerfectScrollbar>
                                </div>
                            </div>
                        </div>
                    </transition>
                    <transition name="fade">
                        <div class="catalog__popover" v-show="visible_third">
                            <div class="popover-inner" id="third-pop">
                                <div class="popover-content">
                                    <VuePerfectScrollbar class="scroll-area" :settings="settingsScroll"
                                                         @ps-scroll-y="scrollHanle">
                                        <div class="catalog__list">
                                            <div>{{catalog_first_third}}</div>
                                            <ul>
                                                <li v-for="(data, index) in catalog_third" :key="index"
                                                    @mouseover="data.hoverthird=true"
                                                    @mouseout=" data.hoverthird=false"
                                                    :class="{active:data.hoverthird}"
                                                    class="clearfix">
                                                    <a class="catalog__item" :href="data.link">{{data.name}}</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </VuePerfectScrollbar>
                                </div>
                            </div>
                        </div>
                    </transition>
                </div>
            </div>
        </transition>
    </div>
</template>

<script>

    import VuePerfectScrollbar from 'vue-perfect-scrollbar'
    import SearchBox from './SearchBox'
    import Spinner from './../Spinner'
    import Location from './../Location'

    export default {
        name: 'CatalogDrop',
        components: {
            VuePerfectScrollbar,
            SearchBox,
            Spinner,
            Location
        },
        props: {
            categories:{
                type: Array
            }
        },
        data: function () {
            return {
                button_name: 'Каталог',
                settingsScroll: {
                    maxScrollbarLength: 40,
                    wheelSpeed: .4,
                    // suppressScrollY:true,
                },
                visible_first: false,
                visible_second: false,
                visible_third: false,

                catalog_first: this.categories, // TODO в первую секцию
                catalog_second: [],
                catalog_third: [],

                catalog_first_title: '',
                catalog_first_third: '',

            }
        },
        created: function () {
            window.addEventListener('click', this.close)
        },
        destroyed() {
            // important to clean up!!
            // window.removeEventListener('click', this.documentClick())
        },
        beforeDestroy() {
            window.removeEventListener('click', this.close)
        },
        methods: {

            toggle() {
                this.visible_first = !this.visible_first
            },

            close(e) {
                if (!this.$el.contains(e.target) ||
                    this.$el.querySelector('.input-group-append') === e.target ||
                    this.$el.querySelector('#search-input') === e.target) {
                    this.visible_first = false
                }
            },

            show_second(node) {
                if (this.isChildren(node) && this.visible_first === true) {
                    this.visible_second = true
                    this.catalog_second = node.children

                } else {
                    this.close_second()
                    this.close_third()
                    this.catalog_second = []
                    this.catalog_third = []
                }

            },
            close_second() {
                this.visible_second = false
            },

            show_third(node) {
                if (this.isChildren(node) && (this.visible_first === true && this.visible_second === true)) {
                    this.visible_third = true
                    this.catalog_third = node.children

                } else {
                    this.close_third()
                    this.catalog_third = []
                }
            },
            close_third() {
                this.visible_third = false
            },

            isChildren(node) {
                return node.children && node.children.length
            },

            scrollHanle(evt) {
                // console.log(evt)
            },

            currentFirstTitle(node) {

                if (this.isChildren(node)) {
                    this.catalog_first_title = node.name
                }

            },

            currentThirdTitle(node) {

                if (this.isChildren(node)) {
                    this.catalog_first_third = node.name
                }

            }

        },
        mounted: function () {
            // window.addEventListener('click', this.documentClick())
        },

    }
</script>

<style scoped lang="scss">

    @import "../../../sass/_variables.scss";

    // catalog button
    button.catalog-open {
        border: 1px solid rgba(74, 74, 74, .2);
        background-color: #fff;
        padding: 8px 15px;
        border-radius: 20px 0 0 20px;
        vertical-align: baseline;
        height: 40px;
        color: rgba(0, 0, 0, 0.5);
        transition: all 3ms;
        margin-right: -1px;

        &:active, &:hover {
            border: 1px solid $color-base-with !important;
            background-color: #fff !important;
            color: $color-base_with !important;
            text-decoration: none;
        }

        &:active, &:focus {
            outline: none !important;
            box-shadow: none !important;
        }

        /* &::before {
           content: "";
           display: inline-block;
           margin-right: 5px;
           vertical-align: bottom;
           margin-bottom: 2px;
           background-color: transparent;
           background-image: url(/img/static/icons/menu.svg);
           background-repeat: no-repeat;
           background-size: 20px auto;
           background-position: 50% 50%;
           width: 20px;
           height: 20px;
         }*/

    }

    #search-input {
        padding-left: 20px;
        border-width: 1px;
        border-radius: 0;
        color: #656565;
        height: 40px;
        transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
        margin-right: 20px;

        &:focus, &:hover {
            /*box-shadow: inset 0 0 5px rgba(0, 0, 0, .3);*/
            box-shadow: none;
            outline: none;
            border: 1px solid #ced4da;
            /*border-color: #008329;*/
        }
    }

    .scroll-area {
        position: relative;
        margin: auto;
        width: 320px;
        height: 250px;
    }

    .catalog {
        padding: 5px 30px;

        &__list {
            font-size: 16px;
            line-height: 1.5;
            padding: 5px 15px;

            ol, ul {
                list-style: none;
                margin: 0;
                padding: 0;
                border: 0;
                font: inherit;
                vertical-align: baseline;
            }

        }

        &__item {
            display: block;
            font-size: 16px;
            font-weight: 300;
            line-height: 1.31;
            padding: 5px 15px;
            color: #4a4a4a;
            border-radius: 1px;
            cursor: pointer;
            position: relative;
            white-space: nowrap;
            transition: background-color .4ms;

            &:hover, &.active {
                text-decoration: none;
                /* background-color: lighten($color-base_light_opacity, 40%);*/
                background-color: $color-base_light_opacity;
                color: #4a4a4a;
            }

            &:hover, &:active, &.active, &:focus {
                &:after {
                    content: "";
                    display: block;
                    position: absolute;
                    top: 50%;
                    right: 10px;
                    margin-top: -5px;
                    background-color: transparent;
                    background-image: url(/img/static/icons/arrow-right-hover.svg);
                    background-repeat: no-repeat;
                    background-size: 7px auto;
                    background-position: 50% 50%;
                    width: 7px;
                    height: 12px;
                }
            }

            &.active {
                background-color: $color-base_light_opacity;
            }
        }

        &__head {
            display: block;
            position: relative;
            padding: 5px 20px;
            margin-bottom: 10px;
            background-color: transparent;
            height: auto;
        }

    }

    .catalog-wrapper {
        display: block;
    }

    .popover_wrapper {
        z-index: 1000;
        /*position: fixed;*/
        position: absolute;
        background-color: transparent;
        right: 0;
        left: 0;
        height: 0;
        bottom: auto;
        top: 65px;

        .catalog__popover {
            float: left;
            width: 340px;
            margin-right: 30px;
            background-color: #fff;
            border-radius: 3px;
            box-shadow: 0 20px 40px 0 rgba(74, 74, 74, .2), 0 0 4px 0 rgba(74, 74, 74, .1);
            border: 1px solid rgba(74, 74, 74, .15);
            overflow: hidden;
            height: auto;
            position: relative;
            padding: 20px 0 10px;
        }
    }

    .fade-enter-active, .fade-leave-active {
        transition: opacity .5s;
    }

    .fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */
    {
        opacity: 0;
    }
</style>