<template>
    <div id="CatalogSearchBox">
        <input type="search"
               class="form-control"
               placeholder="Поиск"
               v-model="search"
               id="search-input"
               v-on:keyup="getSearch()"
               @click.prevent="visible_search = true"
        >
        <transition name="fade">

            <div v-show="visible_search" class="popover-search">

                <div class="search_list">
                    <Spinner v-if="loading && search_result.length === 0"></Spinner>
                    <div class="search_count clearfix" v-if="search_result.length">
                        <a :href="search_url + this.search"
                           class="float-left"
                           target="_blank">Посмотреть все</a>
                        <span class="float-right">Всего: {{search_result_total}}</span>
                    </div>

                    <VuePerfectScrollbar class="scroll-area"
                                         v-if="search_result.length >= 2"
                                         :settings="settingsScroll"
                                         @ps-scroll-y="scrollHanle">
                        <ul v-if="search_result.length >= 2">
                            <li v-for="result in search_result" :key="result.id">
                                <a :href="result.link"
                                   target="_blank"
                                   v-html="highlight(result.title)"></a>
                            </li>
                        </ul>

                    </VuePerfectScrollbar>
                    <span v-else class="empty_search">Введите фразу для поиска</span>

                </div>
            </div>
        </transition>
    </div>
</template>

<script>

    import VuePerfectScrollbar from 'vue-perfect-scrollbar'
    import Spinner from './../Spinner'

    function sanitize(text) {
        return text.replace(/</g, '&lt;').replace(/>/g, '&gt;')
    }

    function escapeRegExp(str) {
        return str.replace(/[.*+?^${}()|[\]\\]/g, '\\$&')
    }

    export default {
        name: 'search-box',
        components: {
            VuePerfectScrollbar,
            Spinner
        },
        data() {
            return {
                search: null,
                search_result: [],
                search_result_total: 0,
                search_url: '/search/result?text=',
                visible_search: false,
                loading: false,
                settingsScroll: {
                    maxScrollbarLength: 40,
                    wheelSpeed: .4,
                    // suppressScrollY:true,
                },
            }
        },
        created: function () {
            window.addEventListener('click', this.close)

        },
        beforeDestroy() {
            window.removeEventListener('click', this.close)
        },
        // watch: {
        //   search (after, before) {
        //     // _.debounce(this.getSearch(this.search), 100)
        //     this.getSearch(this.search)
        //   }
        // },
        computed: {
            highlight() {
                return (text) => {

                    text = sanitize(text)
                    if (this.search.length === 0) {
                        return text
                    }
                    const re = new RegExp(this.escapedQuery, 'gi')

                    return text.replace(re, `<strong>$&</strong>`)
                }
            },
            escapedQuery() {
                return escapeRegExp(sanitize(this.search))
            },
        },
        methods: {
            getSearch() {
                this.search_result = []
                if (this.search.length > 2) {
                    this.loading = true
                    this.query(this.search)
                }
            },

            query(query) {
                axios.get('/api/search', {params: {text: query}})
                    .then(response => {
                        this.search_result = response.data.products.data
                        this.search_result_total = response.data.total
                        this.loading = false
                    })
                    .catch(function (error) {
                        console.log(error)
                    })
            },

            close(e) {
                if (!this.$el.contains(e.target)) {
                    this.visible_search = false
                    // this.search_result = []
                    // this.search = null
                }
            },
            scrollHanle(evt) {
                // console.log(evt)
            },
            // highlight(text) {
            //   return text.replace(new RegExp(this.search, 'gi'), '<span class="highlighted">$&</span>');
            // },
        },
    }
</script>

<style scoped lang="scss">

    @import "./../../../sass/variables";

    #CatalogSearchBox {
        position: relative;
    }

    .scroll-area {
        position: relative;
        margin: auto;
        width: 320px;
        height: 250px;
        padding-right: 15px;
    }

    #search-input {
        padding-left: 20px;
        border-width: 1px;
        border-radius: 0;
        color: #656565;
        height: 40px;
        transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
        margin-right: 20px;

        &:focus, &:hover {
            /*box-shadow: inset 0 0 5px rgba(0, 0, 0, .3);*/
            box-shadow: none;
            outline: none;
            border: 1px solid #ced4da;
            /*border-color: #008329;*/
        }
    }

    .popover-search {
        z-index: 1000;
        /*position: fixed;*/
        position: absolute;
        background-color: transparent;
        right: 0;
        left: -110px;
        height: 0;
        bottom: auto;
        top: 50px;

        .search_list {
            float: left;
            width: 340px;
            background-color: #fff;
            border-radius: 3px;
            box-shadow: 0 20px 40px 0 rgba(74, 74, 74, 0.2), 0 0 4px 0 rgba(74, 74, 74, 0.1);
            border: 1px solid rgba(74, 74, 74, 0.15);
            overflow: hidden;
            height: auto;
            position: relative;
            padding: 10px 10px 15px;

            ul {
                padding: 0;
                margin: 0;
                list-style: none;

                li {
                    margin-bottom: 5px;

                    &:hover, &:active {
                        background: $color-base_light_opacity;
                    }
                }
            }

            .search_count {
                margin-bottom: 10px;
                border-bottom: 1px solid #ced4da;

                a {
                    font-weight: 600;
                }
            }

            .empty_search {
                font-size: 18px;
                padding: 15px;
            }
        }
    }

</style>


