<template>
    <div class="fileinpu_block" >
        <div class="fileinput_button">
            <div class="file-button" id="divUpload" @click="onUploadInput">
                <span>
                     <i class="fa fa-pencil" aria-hidden="true"></i>
                    Изменить
                </span>
            </div>
        </div>

        <input @change="onFileChange"
               :name="filename"
               :id="fileid"
               :class="classname"
               type="file"
               style="display: none"
               accept="image/*"
        >
    </div>
</template>

<script>
    export default {
        props: ['filename', 'fileid', 'classname'],
        data() {
            return {
                image: '',
            }
        },
        methods: {
            onUploadInput(e) {
                $(this.$el).find('.' + this.classname).click();
            }
        }
    }

</script>
<style>

    .fileinpu_block{
        margin-top: 10px;
    }

    .fileinput_button {
        display: block;
        position: relative;
        margin: 0 auto;
        height: 40px;
        width: 150px;
        border: 3px solid #51b98d;
        text-align: center;
        vertical-align: middle;
        color: rgb(92, 179, 142);
        cursor: pointer;
    }

    .fileinput_button span {
        height: 40px;
        width: 150px;
        line-height: 40px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
    }

</style>