<template>
    <div>
        <a class="company_links__item popover_open_link">
            Каталог
        </a>
        <div class="hide focus-partition__wrapper">
            <div>
                <ul class="popover-list">
                    <li>
                        <a class="active popover-list__item">
                            Женская одежда
                        </a>
                    </li>

                    <li>
                        <a href="/producer/stile-n/domashnjaja-odezhda" class="popover-list__item">
                            Домашняя одежда
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</template>

<script>
  export default {
    name: 'KDPopover'
  }
</script>

<style scoped>

</style>