<template>

    <div>
        <div class="location-box">
            <SelectSity @click.prevent="visible = !visible" :current="current_location"/>
            <transition name="fade">
                <div v-if="visible" class="popover-search">
                    <div class="search_list">
                        <h5>Выбор города</h5>

                        <AutocompliteSity
                                :data="cityList"
                                v-model="addressSearch"
                                size="md"
                                :backgroundVariant="'lication_variant_dg'"
                                :serializer="s => format(s)"
                                placeholder="Type an address..."
                                @hit="selectedAddress($event)"
                        >
                            <template slot="append">
                                <button @click="autoLocation" class="btn btn-primary"
                                        title="Определить автоматически">
                                    <i class="fa fa-location-arrow" aria-hidden="true"></i>
                                </button>
                            </template>
                            <template slot="suggestion" slot-scope="{ data, htmlText }">
                                <span v-html="htmlText"></span>&nbsp;
                                <br>
                                <small>{{ data | city_with_type}}</small>
                            </template>

                        </AutocompliteSity>


                    </div>
                </div>
            </transition>
        </div>
    </div>

</template>

<script>
    import SelectSity from './SelectSity'


    import AutocompliteSity from './autocomplete/AutocompliteSity';


    // ->  нет куки

    // запрашиваем разрешение на определение

    // получили определяем через яндекс
    // выставляем в куку
    // не получили показываем форму выбора
    // выбрал , ставим в куку
    // -> обновляем куку


    export default {
        name: "Location",
        components: {
            SelectSity,
            AutocompliteSity
            // VueBootstrapTypeahead
            // VueSuggestions
        },
        data() {
            return {
                visible: false,
                langMap: 'ru_RU',
                current_location: (Cookies.get(cookei_name) !== undefined) ? Cookies.getJSON(cookei_name).city : 'Москва',
                // current: {
                //     location_name: this.location_name,
                //     location_slug: 'moscow'
                // },
                coordinates: {
                    latitude: '',
                    longitude: ''
                },
                stop_geolocation: 0,
                addressSearch: '',
                cityList: [],
                selectedCountry: {}
            }
        },
        head() {
            return {
                script: [
                    {src: 'https://api-maps.yandex.ru/2.1/?load=geolocation,geocode&lang=' + this.langMap + '&apikey=' + apikey},
                ]
            }
        },
        computed: {},
        mounted() {
            // проверяем есть current_city ли в куках
            if (Cookies.get(cookei_name) === undefined) {

                // альтернатива событию load
                document.onreadystatechange = () => {
                    // хак что бы подгрузилась ymaps
                    if (document.readyState === "complete") {
                        // нет куки, запрашиваем разрешение на определение
                        this.checkNavigator();
                        console.log('current_city not test') // runs only once
                    }
                }
            }

        },
        watch: {
            addressSearch: _.debounce(function (addr) {
                this.getAddresses(addr)
            }, 500),
        },
        methods: {

            selectedAddress(event) {
                // если выбрали город который уже указан
                if (this.current_location !== undefined &&
                    event.data.city !== undefined &&
                    event.data.city.toString() !== this.current_location.toString()
                ) {
                    this.selectedCountry = event
                    this.current_location = event.data.city
                    this.location(event.data.city)
                }

                this.visible = false
                document.location.reload(true);
            },

            checkNavigator() {
                if (navigator.geolocation) {
                    var self = this;
                    navigator.geolocation.getCurrentPosition(function (position) {
                        self.position = position.coords;
                        self.geolocation()
                    })
                } else {
                    console.log("Geolocation is not supported.")
                    alert('Geolocation is not supported.')
                }
            },

            autoLocation() {
                // сделать проверку на количество нажатий, что бы ограничить число обращений
                if (this.stop_geolocation >= 2) {
                    console.log('Один раз нажал и хватит!')
                    console.log('Once clicked and that\'s enough!')
                } else {
                    this.geolocation()
                    this.stop_geolocation++
                }
            },

            // определяет локацию автоматически
            geolocation() {
                let self = this;
                ymaps.ready(() => {
                    ymaps.geolocation.get({provider: 'yandex'}).then(function (res) {
                        self.resultLocation(res)
                    })
                })
            },

            location(request) {

                let self = this;
                ymaps.geocode(request).then(function (res) {
                    self.resultLocation(res)
                }, function (e) {
                    console.log(e)
                })

            },

            // TODO слелать отдельно по странам, передовать параметром locations
            getAddresses(addr) {
                if (addr !== '' && addr.length >= 3) {

                    const Dadata = require('dadata-suggestions');
                    const dadata = new Dadata(process.env.MIX_DADATA_API_KEY);

                    dadata.address({
                        query: addr,
                        count: 5,
                        bounds: "city",
                        locations:
                            [
                                {"country": "Россия"},
                                {"country": "Казахстан"},
                                {"country": "Беларусь"},
                                {"country": "Украина"},
                            ],
                        from_bound: {value: "city"},
                        to_bound: {value: "city"}, /* locations: {city_type_full: "город"}*/
                    })
                        .then((data) => {
                            this.cityList = data.suggestions.filter(function (suggestion) {
                                return suggestion.data.city_district === null && suggestion.data.city_type_full === "город" && suggestion.data.fias_level !== "65";
                            });

                            console.log(this.cityList)
                        })
                        .catch(console.error);
                }
            },

            format(row) {

                console.log('format', row)
                return row.data.city
            },

            resultLocation(res) {

                let result = res.geoObjects.get(0).properties.get('metaDataProperty');

                console.log('resultLocation', result);

                var address = result.GeocoderMetaData.Address.Components;
                var area = result.GeocoderMetaData.AddressDetails.Country.AdministrativeArea.AdministrativeAreaName;
                var slug = result.GeocoderMetaData.InternalToponymInfo.seoname;
                var country_code = result.GeocoderMetaData.Address.country_code;
                var country;
                var city;

                for (var i = 0; i < address.length; i++) {
                    if (address[i].kind === 'locality') {
                        city = address[i].name;
                    }

                    if (address[i].kind === 'country') {
                        country = address[i].name;
                    }
                }

                // хак, у москвы к примеру нет поля city и название содержиться в поле area
                city = (city !== undefined) ? city : area;

                //TODO для бекенда! проверить в таблици есть ли город в этой стране и в регионе, если нету проверить и записать в

                console.log('address', address)
                console.log('country', country)
                console.log('country_code', country_code)
                console.log('city', city)
                console.log('slug', slug)
                console.log('area', area)

                this.current_location = city;

                Cookies.set(cookei_name, {city: city, slug: slug, country_code: country_code, area: area})

                console.log('Cookies set', Cookies.get(cookei_name))

            },

        },


        filters: {
            city_with_type(value) {
                // return JSON.stringify(value, null, 2)
                // return value.data.city_with_type + ', ' + value.data.region_with_type

                let result = '';

                if (value.data.city === "Москва") {
                    result = value.data.country + ', ' + value.value
                } else {
                    result = value.value
                }

                return result
            }
        },
    }
</script>

<style lang="scss">

    @import "./../../sass/variables";

    .location-box {
        position: relative;

        .popover-search {
            z-index: 1000;
            /*position: fixed;*/
            position: absolute;
            background-color: transparent;
            right: 0;
            left: -110px;
            height: 0;
            bottom: auto;
            top: 50px;

            .search_list {
                float: left;
                width: 400px;
                background-color: #fff;
                border-radius: 3px;
                box-shadow: 0 20px 40px 0 rgba(74, 74, 74, 0.2), 0 0 4px 0 rgba(74, 74, 74, 0.1);
                border: 1px solid rgba(74, 74, 74, 0.15);
                overflow: hidden;
                height: 110px;
                position: static;
                padding: 20px 10px;

                .list-group-item {
                    padding: 2px 10px !important;
                    margin-bottom: -1px;
                    border: none !important;
                }

                .bg-lication_variant_dg {

                    &:hover, &:active, &.active {
                        background-color: $color-base_light_opacity !important;
                    }

                }
            }
        }
    }
</style>