<template>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <component :is="currentStep" :next-step.sync="nextStep"></component>
            </div>
        </div>
    </div>
</template>

<script>

    import StepOne from './LoginStep/StepOneComponent.vue'
    import StepTwo from './LoginStep/StepTwoComponent.vue'

    var StepThree = Vue.extend({
        template: '<div><h1>Step Three</h1><button>Finish</button></div>'
    });


    export default {
        mounted() {
            console.log('Component mounted.')
        },
        data() {
            return {
                steps: ['step-one', 'step-two', 'step-three'],
                completedSteps:[],
                currentStep: 'step-one',
            }
        },
        components: {
            'step-one': StepOne,
            'step-two': StepTwo,
            'step-three': StepThree,
        },

    }
</script>
