<template>
    <div id="CatalogSearchBox">
        <div class="input-group">
            <div class="input-group-append">

                <popper trigger="click" :options="{placement: 'top'}">
                    <div class="popper catalog-popover">
                        <VuePerfectScrollbar class="scroll-area" :settings="settings" @ps-scroll-y="scrollHanle">
                            <div class="catalog__list">
                                <catalog :catalog-data="categories"></catalog>
                            </div>
                        </VuePerfectScrollbar>
                    </div>
                    <button slot="reference" class="btn btn-primary catalog-open" id="catalogOpen">
                        <i class="fa fa-bars" aria-hidden="true"></i>
                        Каталог
                    </button>
                </popper>

            </div>
            <input type="text"
                   class="form-control"
                   placeholder="Поиск"
                   v-model="search"
                   id="search-input">
            <div class="popover-search">
                <div class="catalog__list">
                    <ul v-if="search_result.length > 0">
                        <li v-for="result in search_result" :key="result.id" v-text="result.name"></li>
                    </ul>
                </div>
            </div>
            <div class="popover-wrapper">
                <div class="container">
                    <div id="second_popper" v-if="isSecondList">
                        <div class="popper catalog-popover">
                            <VuePerfectScrollbar class="scroll-area" :settings="settings" @ps-scroll-y="scrollHanle">
                                <div class="catalog__list">
                                    <catalog :catalog-data="catalog_second.data"></catalog>
                                </div>
                            </VuePerfectScrollbar>
                        </div>
                        <!--<button slot="reference" class="btn btn-primary catalog-open" id="catalogOpen">-->
                        <!--<i class="fa fa-bars" aria-hidden="true"></i>-->
                        <!--Каталог-->
                        <!--</button>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

  import Popper from 'vue-popperjs'
  import VuePerfectScrollbar from 'vue-perfect-scrollbar'
  import Catalog from './Categories/Catalog'

  export default {
    name: 'search-box',
    props: {categories: Array},
    data () {
      return {
        search: null,
        search_result: [],
        catalog_first: [], // TODO в первую секцию
        catalog_second: {
          is_set: false,
          data: []
        },
        catalog_third: [],
        isActive: false,
        popoverShow: false,
        settings: {
          maxScrollbarLength: 40,
          wheelSpeed: .4,
          // suppressScrollY:true,
        },
      }
    },
    watch: {
      search (after, before) {
        _.debounce(this.getSearch(), 300)
      }
    },
    computed: {
      isSecondList: function () {
        return (
          typeof this.catalog_second.data !== 'undefined' &&
          this.catalog_second.data.length > 0 &&
          this.catalog_second.is_set === true
        )
      },
    },
    created: function () {
      this.debouncedGetSecondList = this.$root.$on('item-hover', _.debounce(this.hoverFirst, 100))
    },

    /*  created: function () {
          // `this` указывает на экземпляр vm

          var a = [];
          var categories = this.categories;

          for (var category in categories) {

              var data = [];

              for (var children in categories[category].children) {

                  var item = categories[category].children[children];
                  var g = {
                      id: item.id,
                      link: item.link,
                      name: item.name,
                      level: 1,
                      url_producer: null
                  };

                  data.push(g)
              }
              a[category] = data;
          }

          this.catalog_first = a;

          console.log(this.catalog_first);
      },*/
    mounted: function () {

    },

    components: {
      'popper': Popper,
      VuePerfectScrollbar,
      Catalog
    },
    methods: {

      getSearch () {
        axios.get('/api/search', {params: {keywords: this.keywords}})
          .then(response => this.results = response.data)
          .catch(function (error) {
            console.log(error)
          })
      },

      highlight (text) {
        return text.replace(new RegExp(this.search, 'gi'), '<span class="highlighted">$&</span>')
      },

      hoverFirst (node) {

        console.log('event', node)
        this.getSecondList(node.id)

        this.popoverShow = true

        var reference = document.querySelector('#catalogItemOpen')
        var popper = document.querySelector('#second_popper')

        new Popper(reference, popper)
        //  this.$root.$emit('show', 'second_popper');

      },

      getSecondList (id) {

        axios.post('/catalog/' + id)
          .then(response => {
            if (response.data.data.length > 0) {
              this.catalog_second.data = response.data.data.map(item => {
                return {id: item.id, name: item.name, link: item.link}
              })
              this.catalog_second.is_set = true
            } else {
              console.log(response.data.data)
              this.catalog_second.is_set = false
              this.catalog_second.data = []
            }
          })
          .catch(function (error) {
            console.log(error)
          })
      },
      scrollHanle (evt) {
        // console.log(evt)
      },
    },

  }
</script>

<style lang="scss" scoped>

    .highlighted {
        color: red
    }

    /**/
    .popover-wrapper {

        position: absolute;
        z-index: 1000;
        position: fixed;
        background-color: transparent;
        right: 0;
        left: 0;
        height: 0;
        bottom: auto;
        top: 60px;
    }

</style>