<template>
    <div class="location-link">
        <a href="/location" @click.prevent="myClick($event)">
            <i class="fa fa-location-arrow" aria-hidden="true"></i>
            {{current}}
        </a>
    </div>
</template>

<script>

    export default {
        name: "SelectSity",
        props: {
            current: String,
        },
        data() {
            return {
                position: null,
            }
        },

        methods: {
            myClick(event) {
                this.$emit('click', event)
            },
        }
    }
</script>

<style lang="scss" scoped>
    .location-link {
        border: 1px solid rgba(74, 74, 74, 0.2);
        /*background-color: #fff;*/
        padding: 8px 15px;
        height: 40px;
        color: rgba(0, 0, 0, 0.5);
        transition: all 3ms;
        margin-left: -1px;
    }
</style>