<template>
    <div class="loadingSpinner"></div>
</template>

<script>
  export default {
    name: 'Spinner'
  }
</script>

<style scoped lang="scss">

    @import "../../sass/_variables.scss";

    $loadingSpinnerDiameter: 28px;
    $loadingSpinnerStrokeWidth: 4px;
    $loadingSpinnerStrokeColor: $color-base_with;
    $loadingSpinnerOpacity: .8;
    $loadingSpinnerStrokeStyle: solid; // solid, dashed, dotted
    $loadingSpinnerSpeed: .7s;

    .loadingSpinner {
        border: $loadingSpinnerStrokeWidth $loadingSpinnerStrokeStyle $loadingSpinnerStrokeColor;
        border-top-color: rgba(0, 0, 0, 0);
        border-left-color: rgba(0, 0, 0, 0);
        width: $loadingSpinnerDiameter - ($loadingSpinnerStrokeWidth * 2);
        height: $loadingSpinnerDiameter - ($loadingSpinnerStrokeWidth * 2);
        opacity: $loadingSpinnerOpacity;
        border-radius: 50%;
        animation: loadingSpinner $loadingSpinnerSpeed infinite linear;
        -webkit-animation: loadingSpinner $loadingSpinnerSpeed infinite linear;
    }

    button .loadingSpinner {
        margin-top: -$loadingSpinnerDiameter / 2;
        margin-left: -$loadingSpinnerDiameter / 2;
        position: absolute;
        top: 50%;
        left: 50%;
    }

    @keyframes loadingSpinner {
        from {
            transform: rotate(0deg)
        }
        to {
            transform: rotate(360deg)
        }
    }

    @-webkit-keyframes loadingSpinner {
        from {
            -webkit-transform: rotate(0deg)
        }
        to {
            -webkit-transform: rotate(360deg)
        }
    }

    .loading {
        position: fixed;
        z-index: 999;
        height: 2em;
        width: 2em;
        overflow: show;
        margin: auto;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: url('/img/thems/azure/spiner60x.gif');
    }

</style>