<template>
    <div id="app">
        <treeselect v-model="value"
                    value="id[]"
                    name="category_id[]"
                    :required=true
                    :normalizer="normalizer"
                    :multiple="true"
                    :options="options"
                    :default-expand-level="1"
                    :limit="3"
                    :show-count="true"
        />

    </div>
</template>

<script>
    // import the component
    import Treeselect from '@riophae/vue-treeselect'
    // import the styles
    import '@riophae/vue-treeselect/dist/vue-treeselect.css'

    export default {
        name: 'tree-select',
        // register the component
        components: {Treeselect},
        props: {
            old: {
                type: Array,
            }
        },
        data() {
            return {
                // define default value
                value: [],
                // define options
                options: null,
                normalizer(node) {
                    return {
                        id: node.id,
                        label: node.name,
                        children: node.children,
                    }
                },
                // options: [{
                //     id: 'a',
                //     label: 'a',
                //     children: [{
                //         id: 'aa',
                //         label: 'aa',
                //     }, {
                //         id: 'ab',
                //         label: 'ab',
                //     }],
                // }, {
                //     id: 'b',
                //     label: 'b',
                // }, {
                //     id: 'c',
                //     label: 'c',
                // }],
            }
        },
        created: function () {
            if (this.old.length > 0) {
                this.value = this.old;
            }
            this.getCategory();
        },
        methods: {

            getCategory() {
                axios.get('/api/category/getAll')
                    .then(response => {
                        console.log(response);
                        this.options = response.data
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            }
        }
    }
</script>
<style scoped>

</style>