<template>
    <div class="file_input_wrapper" :style="styleWrapper">

        <img v-cloak="image" :src="image" class="preview-image">

        <div v-if="!image" class="form-group">
            <label @click="toggleShow"></label>
            <!-- <input type="file"
                    id="file-field"
                    @change="onFileChange"
                    accept="image/*"
                    v-show="false">-->
            <my-upload :field=field_name
                       @crop-success="cropSuccess"
                       @crop-upload-success="cropUploadSuccess"
                       @crop-upload-fail="cropUploadFail"
                       v-model="show"
                       :no-circle="true"
                       :width="width"
                       :height="height"
                       lang-type="ru"
                       :params="otherParams"
                       :headers="headers"
                       img-format="png"
            >
            </my-upload>
        </div>
    </div>
</template>

<script>
    import myUpload from 'vue-image-crop-upload'

    export default {
        name: 'FileInputPreview',
        components: {
            'my-upload': myUpload,
        },
        props: {
            value: { // Accepts a 'value' property
                type: [String, Object],
            },
            field_name: {
                type: String,
                'default': 'avatar'
            },
            wrap_w: {
                'default': 200
            },
            wrap_h: {
                'default': 200
            },
            width: {
                'default': 200
            },
            height: {
                'default': 200
            },

        },
        data() {
            return {
                show: false,
                image: '',
                otherParams: {
                    token: $('meta[name="csrf-token"]').attr('content'),
                    name: 'file',
                    id: $('#upload-button').attr('data-id'),
                },
                headers: {
                    'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                },
                styleWrapper: {
                    width: this.wrap_w + 'px',
                    height: this.wrap_h + 'px'
                },
            }
        },
        created: function () {

            if (this.value !== null && this.value !== '' && this.value.length) {
                this.image = this.value
            } else {
                this.removeImage()
            }
        },
        methods: {

            toggleShow() {
                this.show = !this.show
            },
            cropSuccess(image, field, key) {

                this.image = image

                this.handleFileChange(image, field)

                console.log('-------- crop success ' + key + '-' + field + '--------')
            },
            cropUploadSuccess(jsonData, field) {
                console.log('-------- upload success --------')
                console.log(jsonData)
                console.log('field: ' + field)
            },
            cropUploadFail(status, field) {
                console.log('-------- upload fail --------')
                console.log(status)
                console.log('field: ' + field)
            },
            removeImage() {
                this.image = ''
            },
            handleFileChange(file, field) {
                this.$emit('input', {file, field})
            }


            // openUpload () {
            //   document.getElementById('file-field').click()
            // },
            //
            // onFileChange (e) {
            //   var files = e.target.files || e.dataTransfer.files
            //   if (!files.length)
            //     return
            //   this.createImage(files[0])
            // },
            //
            // createImage (file) {
            //   var image = new Image()
            //   var reader = new FileReader()
            //   var vm = this
            //
            //   reader.onload = (e) => {
            //     vm.image = e.target.result
            //     this.handleFileChange(file, vm.image)
            //   }
            //   reader.readAsDataURL(file)
            // },

        }
    }
</script>

<style lang="scss" scoped>

    [v-cloak] {
        display: none;
    }

    .file_input_wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        position: relative;
        border-radius: 3px;
        border: 1px solid rgba(74, 74, 74, .2);
        overflow: hidden;
        background-color: #fff;

        img {
            width: auto;
            height: auto;
            max-width: 100%;
            max-height: 100%;
            margin: auto;
        }

        label {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            cursor: pointer;

            &:before {
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                margin-top: -12px;
                margin-left: -15px;
                background-color: transparent;
                background-image: url(/img/static/icons/arrow.svg#download-photo-usage);
                background-repeat: no-repeat;
                background-size: 30px auto;
                background-position: 50% 50%;
                width: 30px;
                height: 24px;
            }
        }
    }
</style>