<template>
    <div>
        <vue-slider ref="cost_price"
                    @drag-end="getValue()"
                    v-bind="settings"
                    v-model="range">
        </vue-slider>
    </div>
</template>

<script>
    import vueSlider from 'vue-slider-component'

    export default {
        name: 'RangeCostPrice',
        props: {
            value: {
                type: Object,
                default: [0, 0],
                required: true,
            }
        },
        components: {
            vueSlider
        },
        created() {
            // console.log(this.range_price)
        },
        data() {
            return {
                range: [
                    this.value.min_price,
                    this.value.max_price
                ],
                settings: {
                    min: this.value.min_price,
                    max: this.value.max_price,
                    disabled: false,
                    show: true,
                    useKeyboard: true,
                    tooltip: 'always',
                    formatter: '{value} ₽',
                    mergeFormatter: '{value1} ₽ ~ {value2} ₽'
                }
            }
        },
        computed: {
            getRange() {
                let slider = this.$refs.cost_price
                return {min_price: Number(slider.getValue()[0]), max_price: Number(slider.getValue()[1])}
            }
        },
        methods: {
            getValue() {
                this.$emit('input', this.getRange)
            },

        }
    }
</script>

<style scoped>

</style>