<template>
    <div class="tags-input">
        <span v-for="tag in tags" class="tags-input__tag">
            <span>{{ tag.name }}</span>
            <button type="button" class="tags-input__remove" @click="removeTag(tag)">&times;</button>
        </span>
        <input placeholder="Add tag..."
               class="tags-input__text"
               @keydown.backspace="handleTagBackspace"
               @keydown.enter.prevent="addTag"
               v-model="new_tag"
        >
    </div>
</template>

<script>
  export default {
    model: {
      prop: 'tags',
      event: 'update'
    },
    props: ['tags'],
    data () {
      return {
        new_tag: '',
      }
    },
    methods: {
      handleTagBackspace (e) {
        if (this.new_tag.length === 0) {
          this.$emit('update', this.tags.slice(0, -1))
        }
      },
      addTag () {
        if (this.new_tag.length === 0 || this.tags.includes(this.new_tag)) {
          return
        }

        this.$emit('update', [...this.tags, this.new_tag])
        this.new_tag = ''
      },
      removeTag (tag) {
        this.$emit('update', this.tags.filter(t => t !== tag))
      }

    }

  }
</script>

<style scoped>

</style>