<template>
    <div>

        <div class="tags__active">
            <div class="clearfix">
                <div v-for="(item, index) in active_list"
                     :key="index"
                     class="tags__item badge">
                    <span>{{item.name}}</span>
                    <button type="button" class="badge__delete" @click="removeTag(item)">&times;</button>
                </div>
            </div>
        </div>


        <button type="button" class="popover-tags-link" :disabled="disabled" @click.prevent="toggle">
            <span class="tags__add">+ Добавить</span>
        </button>

        <div v-if="visible" class="tags__popover custom-popover">
            <ul>
                <li v-for="(tag, index) in select_list" :key="index" @click="addTag(tag)">
                    <span class="popover-list__item">{{tag.name}}</span>
                </li>
            </ul>
        </div>
    </div>
</template>

<script>
  export default {
    name: 'TagsSelector',
    model: {
      prop: 'value',
      event: 'change'
    },
    props: {
      value: {
        type: [Array],
        required: true,
         default: () => [],
        // validator: v => v.every(tag => {
        //   return tag.hasOwnProperty('id') && tag.hasOwnProperty('name')
        // }),
      },
      field:{
        type: [Array, Object],
      },
      options: {
        type: Array,
        required: true,
        validator: v => v.every(tag => {
          return tag.hasOwnProperty('id') && tag.hasOwnProperty('name')
        }),
      },
      tag_creation_enabled: Boolean,
    },
    data () {
      return {
        visible: false,
        disabled: false,
        active_list: this.value,// надо понять как присвоть
        select_list: this.options
      }
    },
    updated () {
      if (this.select_list.length < 0) {
        this.disabled = true
        this.visible = false
      }
    },
    methods: {
      emitResult ()
      {
        this.$emit('change', this.active_list)
      },
      addTag (tag) {

        // let checkEmptyLines = this.active_list.filter(line => line.id === null)
        //
        // if (checkEmptyLines.length >= 1 && this.active_list.length > 0) return

        if (this.active_list.includes(tag)) {
          return
        }

        this.active_list.push(tag)
        this.select_list = this.select_list.filter(t => t !== tag)

      //  this.$forceUpdate()
        this.visible = false
        this.emitResult()

      },
      removeTag (tag) {

        this.active_list = this.active_list.filter(t => t !== tag)
        this.select_list.push(tag)

      //  this.$forceUpdate()

        this.emitResult()
      },
      // tagSelected (index) {
      //   return this.active_list.some(element => element.slug === this.all[index].slug)
      // },
      toggle () {
        this.visible = !this.visible
      },
    }
  }
</script>

<style lang="scss" scoped>

    button.popover-tags-link {
        background: none;
        border: none;
        color: #00b7d7;
        &:hover {
            color: darken(#00b7d7, 10%);
        }
    }

    .tags {
        &__item {
            background-color: #fff;
            border: 1px solid rgba(74, 74, 74, .3);
            margin-right: 4px;
        }
    }

    .badge {
        display: inline-block;
        padding: .3em;
        font-size: 90%;
        font-weight: 700;
        line-height: 1;
        text-align: center;
        white-space: nowrap;
        vertical-align: baseline;
        border-radius: 0.25rem;
        &__delete {
            background: none;
            border: none;
            color: darken(#00b7d7, 20%);
        }
    }
</style>