<template>
  <v-row justify="center">
    <v-dialog v-model="show" persistent max-width="600px">
<!--      <template v-slot:activator="{ on }">-->
<!--        <v-btn color="primary" dark v-on="on">Open Dialog</v-btn>-->
<!--      </template>-->
      <v-card>
        <v-card-title>
          <slot name="title"></slot>
        </v-card-title>
        <v-card-text>
            <slot></slot>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <slot name="actions"></slot>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<script>
  export default {
    name: 'BaseDialog',
    props: {
      show: {
        type: Boolean,
        require: true,
        default: () => false
      }
    },
    methods: {
      closeDialog () {
        this.$emit('closeDialog', false)
      }
    }
  }
</script>

<style scoped>

</style>
