<template>

  <BaseDialog :show="show" @closeDialog="closeDialog">

    <template v-slot:title>
      <span class="headline">Login</span>
    </template>
    <v-container>
      <v-row>

        <v-col cols="12">
          <v-text-field label="Email*" required></v-text-field>
        </v-col>
        <v-col cols="12">
          <v-text-field label="Password*" type="password" required></v-text-field>
        </v-col>

      </v-row>
    </v-container>
    <small>*indicates required field</small>

    <template v-slot:actions>
      <v-btn color="blue darken-1" text @click="closeDialog">Close</v-btn>
      <v-btn color="blue darken-1" text @click="closeDialog">Login</v-btn>
    </template>
  </BaseDialog>

</template>

<script>

  import BaseDialog from './BaseDialog'

  export default {
    name: 'LoginForm',
    components: {
      BaseDialog
    },
    props: {
      show: {
        type: Boolean,
        require: true,
        default: () => false
      }
    },
    methods: {
      closeDialog () {
        this.$emit('closeDialog', false)
      }
    }
  }
</script>

<style scoped>

</style>
