<template>

  <BaseDialog :show="show" @closeDialog="closeDialog">

    <template v-slot:title>
      <span class="headline">Registration</span>
    </template>

    <v-container>
      <v-row>
        <ValidationObserver ref="observer" v-slot="{ validate, reset }">
          <form>
            <v-col cols="12" sm="6" md="4">
              <ValidationProvider v-slot="{ errors, valid }" name="type" rules="required">
                <v-radio-group v-model="type" :error-messages="errors" :mandatory="false">
                  <p> Регистрация как <b>{{type || 'null'}}</b></p>

                  <v-radio v-for="(value, index) in user_types"
                           :key="index"
                           :label="value"
                           :value="index"
                  >
                  </v-radio>
                </v-radio-group>
              </ValidationProvider>
            </v-col>

            <template v-if="changeType()">
              <v-col cols="12" sm="6" md="4">
                <ValidationProvider v-slot="{ errors }" name="company_name" rules="required|min:3|max:20">
                  <v-text-field label="Название компании*"
                                :counter="20"
                                :error-messages="errors"
                                v-model="company_name"
                                placeholder="Название предприятия без кавычек. Например: Мир мебели"
                                autofocus
                                required>
                  </v-text-field>
                </ValidationProvider>
              </v-col>

              <v-col cols="12" sm="6">
                <ValidationProvider v-slot="{ errors }" name="company_type" rules="required">
                  <v-autocomplete
                    :items="company_types"
                    v-model="company_type"
                    label="Вид деятельности*"
                    multiple
                  ></v-autocomplete>
                </ValidationProvider>
              </v-col>

              <v-col cols="6" sm="6">
                <ValidationProvider v-slot="{ errors }" name="country" rules="required">
                  <v-autocomplete
                    :items="countrys"
                    v-model="country"
                    label="Страна*"
                  ></v-autocomplete>
                </ValidationProvider>

              </v-col>
              <v-col cols="6" sm="6">
                <ValidationProvider v-slot="{ errors }" name="city" rules="required">
                  <v-autocomplete
                    :items="citys"
                    v-model="city"
                    label="Город*"
                  ></v-autocomplete>
                </ValidationProvider>
              </v-col>
            </template>

            <v-col cols="12" sm="6" md="4">
              <ValidationProvider v-slot="{ errors }" name="username" rules="required|min:3|max:20">
                <v-text-field label="Legal username*"
                              :counter="20"
                              :error-messages="errors"
                              v-model="user.username"
                              required>
                </v-text-field>
              </ValidationProvider>
            </v-col>
            <v-col cols="12" sm="6" md="4">
              <v-text-field label="Legal middle name" hint="example of helper text only on focus"></v-text-field>
            </v-col>
            <v-col cols="12" sm="6" md="4">
              <v-text-field
                label="Legal last name*"
                hint="example of persistent helper text"
                persistent-hint
                required
              ></v-text-field>
            </v-col>
            <v-col cols="12">
              <v-text-field label="Email*"
                            v-model="user.email"
                            rules="'required|email|max:50'"
                            type="email"
                            required></v-text-field>
              <div
                v-if="submitted && errors.has('email')"
                class="alert-danger"
              >{{errors.first('email')}}
              </div>
            </v-col>
            <v-col cols="12">
              <v-text-field label="Password*"
                            v-model="user.password"
                            rules="'required|min:6|max:40'"
                            type="password"
                            required></v-text-field>
              <div
                v-if="submitted && errors.has('password')"
                class="alert-danger"
              >{{ errors.first('password') }}
              </div>
            </v-col>
            <v-col cols="12" sm="6">
              <v-select
                :items="['0-17', '18-29', '30-54', '54+']"
                label="Age*"
                required
              ></v-select>
            </v-col>
            <v-col cols="12" sm="6">
              <v-autocomplete
                :items="['Skiing', 'Ice hockey', 'Soccer', 'Basketball', 'Hockey', 'Reading', 'Writing', 'Coding', 'Basejump']"
                label="Interests"
                multiple
              ></v-autocomplete>
            </v-col>
          </form>
        </ValidationObserver>
      </v-row>
    </v-container>
    <small>*indicates required field</small>

<!--    <div-->
<!--      v-if="message"-->
<!--      class="alert"-->
<!--      :class="successful ? 'alert-success' : 'alert-danger'"-->
<!--    >{{ message }}-->
<!--    </div>-->

    <template v-slot:actions>
      <v-btn color="blue darken-1" text @click="closeDialog">Close</v-btn>
      <v-btn color="blue darken-1" text @click="closeDialog">Registration</v-btn>
    </template>
  </BaseDialog>

</template>

<script>

  import BaseDialog from './BaseDialog'
  import { AUTH_REGISTER, AUTH_REGISTER_FORM } from '../../store/types/auth'
  import User from '../../models/user'
  import { required, email, max } from 'vee-validate/dist/rules'
  import { extend, ValidationObserver, ValidationProvider, setInteractionMode } from 'vee-validate'
  import { mapState } from 'vuex'

  setInteractionMode('eager')

  extend('required', {
    ...required,
    message: '{_field_} can not be empty',
  })

  extend('max', {
    ...max,
    message: '{_field_} may not be greater than {length} characters',
  })

  extend('email', {
    ...email,
    message: 'Email must be valid',
  })

  export default {
    name: 'RegForm',
    components: {
      BaseDialog,
      ValidationProvider,
      ValidationObserver,
    },
    props: {
      show: {
        type: Boolean,
        require: true,
        default: () => false
      },
      // user_type: {
      //   type: Array,
      //   require: true,
      //   default: () => []
      // },
      // company_types: {
      //   type: Array,
      //   require: true,
      //   default: () => [{ 1: 'WHOLESALE' }, { 2: 'BUYER' }]
      // },
    },
    data () {
      return {
        user: new User('', '', ''),
        submitted: false,
        successful: false,
        message: '',

        type: 1,
      }
    },
    computed: {

      ...mapState({
        user_types: state => state.auth.registration.user_types,
        company_types: state => state.auth.registration.company_types
      }),

      loggedIn () {
        return this.$store.state.auth.status.loggedIn
      }
    },
    mounted () {

      this.$store.dispatch(AUTH_REGISTER_FORM)

      if (this.loggedIn) {
        this.$router.push('/profile')
      }
    },
    methods: {
      handleRegister () {

        this.message = ''
        this.submitted = true

        this.$validator.validate().then(isValid => {
          if (isValid) {
            this.$store.dispatch(AUTH_REGISTER, this.user).then(
              data => {
                this.message = data.message
                this.successful = true
              },
              error => {
                this.message =
                  (error.response && error.response.data) ||
                  error.message ||
                  error.toString()
                this.successful = false
              }
            )
          }
        })

      },
      changeType () {
        return Number(this.type) === 1
      },
      closeDialog () {
        this.$emit('closeDialog', false)
      }
    }
  }
</script>

<style scoped>

</style>
