<template>

  <v-container
    class="fill-height"
    fluid
  >
    <v-row
      align="center"
      justify="center"
    >
      <v-col
        cols="12"
        sm="8"
        md="4"
      >
        <v-card class="elevation-12">
          <v-toolbar
            color="primary"
            dark
            flat
          >
            <v-toolbar-title>Register form</v-toolbar-title>
            <v-spacer/>
            <!--              <v-tooltip bottom>-->
            <!--                <template v-slot:activator="{ on }">-->
            <!--                  <v-btn-->
            <!--                    :href="source"-->
            <!--                    icon-->
            <!--                    large-->
            <!--                    target="_blank"-->
            <!--                    v-on="on"-->
            <!--                  >-->
            <!--                    <v-icon>mdi-code-tags</v-icon>-->
            <!--                  </v-btn>-->
            <!--                </template>-->
            <!--                <span>Source</span>-->
            <!--              </v-tooltip>-->
            <!--              <v-tooltip right>-->
            <!--                <template v-slot:activator="{ on }">-->
            <!--                  <v-btn-->
            <!--                    icon-->
            <!--                    large-->
            <!--                    href="https://codepen.io/johnjleider/pen/pMvGQO"-->
            <!--                    target="_blank"-->
            <!--                    v-on="on"-->
            <!--                  >-->
            <!--                    <v-icon>mdi-codepen</v-icon>-->
            <!--                  </v-btn>-->
            <!--                </template>-->
            <!--                <span>Codepen</span>-->
            <!--              </v-tooltip>-->
          </v-toolbar>

          <v-card-text>
            <ValidationObserver ref="observer" v-slot="{ validate, reset }">
              <form>
                <v-col cols="12" sm="6" md="6">
                  <ValidationProvider v-slot="{ errors, valid }" name="type" rules="required">
                    <v-radio-group v-model="user.type" :error-messages="errors" :mandatory="false">
                      <p> Регистрация как <b>{{user_types[user.type] || 'null'}}</b></p>
                      <v-radio v-for="(value, index) in user_types"
                               :key="index"
                               :label="value"
                               :value="index"
                      >
                      </v-radio>
                    </v-radio-group>
                  </ValidationProvider>
                </v-col>

                <template v-if="changeType()">
                  <v-col cols="12" sm="6" md="4">
                    <ValidationProvider v-slot="{ errors }" name="company_name" rules="required|min:3|max:20">
                      <v-text-field label="Название компании*"
                                    :counter="20"
                                    :error-messages="errors"
                                    v-model="company.company_name"
                                    placeholder="Название предприятия без кавычек. Например: Мир мебели"
                                    required>
                      </v-text-field>
                    </ValidationProvider>
                  </v-col>

                  <v-col cols="12" sm="6">
                    <ValidationProvider v-slot="{ errors }" name="company_type" rules="required">
                      <v-autocomplete
                        :items="company_types"
                        v-model="company.company_type"
                        label="Вид деятельности*"
                        multiple
                      ></v-autocomplete>
                    </ValidationProvider>
                  </v-col>

                  <v-col cols="6" sm="6">
                    <ValidationProvider v-slot="{ errors }" name="country" rules="required">
                      <v-autocomplete
                        :items="countries"
                        v-model="company.country"
                        label="Страна*"
                      ></v-autocomplete>
                    </ValidationProvider>

                  </v-col>
                  <v-col cols="6" sm="6">
                    <ValidationProvider v-slot="{ errors }" name="city" rules="required">
                      <v-autocomplete
                        :items="cities"
                        v-model="company.cities"
                        label="Город*"
                      ></v-autocomplete>
                    </ValidationProvider>
                  </v-col>
                  <v-col cols="6" sm="6">
                    <ValidationProvider v-slot="{ errors }" name="region" rules="required">
                      <v-autocomplete
                        :items="regions"
                        v-model="company.region"
                        label="Страна*"
                      ></v-autocomplete>
                    </ValidationProvider>
                  </v-col>
                </template>


                <v-col cols="12" sm="6" md="6">
                  <ValidationProvider v-slot="{ errors }" name="first_name" rules="required|min:3|max:20">
                    <v-text-field label="Legal first name*"
                                  :counter="20"
                                  :error-messages="errors"
                                  v-model="user.first_name"
                                  required>
                    </v-text-field>
                  </ValidationProvider>
                </v-col>
                <v-col cols="12" sm="6" md="6">
                  <ValidationProvider v-slot="{ errors }" name="last_name" rules="required|min:3|max:20">
                    <v-text-field label="Legal last name*"
                                  hint="example of helper text only on focus"
                                  :counter="20"
                                  :error-messages="errors"
                                  v-model="user.last_name"
                                  required>
                    </v-text-field>
                  </ValidationProvider>
                </v-col>

                <v-col cols="12" sm="6" md="6">
                  <ValidationProvider v-slot="{ errors }" name="email" rules="required|email">
                    <v-text-field label="Email*"
                                  v-model="user.email"
                                  :error-messages="errors"
                                  type="email"
                                  required>

                    </v-text-field>
                  </ValidationProvider>
                </v-col>

                <v-col cols="12" sm="6" md="6">
                  <ValidationProvider v-slot="{ errors }" name="password" rules="required|min:6|password:@confirm">
                    <v-text-field label="Password*"
                                  v-model="user.password"
                                  :error-messages="errors"
                                  type="password"
                                  required>

                    </v-text-field>
                  </ValidationProvider>
                </v-col>
                <v-col cols="12" sm="6" md="6">
                  <ValidationProvider v-slot="{ errors }" name="confirm" rules="required|min:6">
                    <v-text-field label="Password Confirm*"
                                  v-model="password_confirmation"
                                  :error-messages="errors"
                                  type="password"
                                  required>

                    </v-text-field>
                  </ValidationProvider>
                </v-col>


                <!--                  <v-col cols="12" sm="6">-->
                <!--                    <v-select-->
                <!--                      :items="['0-17', '18-29', '30-54', '54+']"-->
                <!--                      label="Age*"-->
                <!--                      required-->
                <!--                    ></v-select>-->
                <!--                  </v-col>-->
                <!--                  <v-col cols="12" sm="6">-->
                <!--                    <v-autocomplete-->
                <!--                      :items="['Skiing', 'Ice hockey', 'Soccer', 'Basketball', 'Hockey', 'Reading', 'Writing', 'Coding', 'Basejump']"-->
                <!--                      label="Interests"-->
                <!--                      multiple-->
                <!--                    ></v-autocomplete>-->
                <!--                  </v-col>-->
              </form>
            </ValidationObserver>
            <small>*indicates required field</small>
          </v-card-text>
          <v-card-actions>
            <v-spacer/>
            <v-btn color="primary" @click="handleRegister">Register</v-btn>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
  </v-container>


</template>

<script>

  import { AUTH_REGISTER } from '../store/types/auth'
  import User from '../models/user'
  import { required, email, min, max } from 'vee-validate/dist/rules'
  import { extend, ValidationObserver, ValidationProvider, setInteractionMode } from 'vee-validate'
  import { mapState } from 'vuex'
  import Company from '../models/company'
  import { REGISTER_FORM } from '../store/types/common'

  setInteractionMode('eager')

  extend('required', {
    ...required,
    message: '{_field_} can not be empty',
  })

  extend('max', {
    ...max,
    message: '{_field_} may not be greater than {length} characters',
  })

  extend('min', {
    ...min,
    message: '{_field_} may not be greater than {length} characters',
  })

  extend('email', {
    ...email,
    message: 'Email must be valid',
  })

  extend('password', {
    params: ['target'],
    validate (value, { target }) {
      return value === target
    },
    message: 'Password confirmation does not match'
  })

  export default {
    name: 'Register',
    components: {
      ValidationProvider,
      ValidationObserver,
    },
    props: {
      show: {
        type: Boolean,
        require: true,
        default: () => false
      },
    },
    data () {
      return {
        user: new User(2, '', '', '', ''),
        password_confirmation: '',
        company: new Company('', '', '', '', ''),
        submitted: false,
        successful: false,
        message: '',
      }
    },
    computed: {
      ...mapState({
        user_types: state => state.common.registration.user_types,
        company_types: state => state.common.registration.company_types,
        countries: state => state.common.geo.countries,
        regions: state => state.common.geo.regions,
        cities: state => state.common.geo.cities,
      }),

      loggedIn () {
        return this.$store.state.auth.status.loggedIn
      }
    },
    mounted () {

      this.$store.dispatch(REGISTER_FORM)

      if (this.loggedIn) {
        this.$router.push('/profile')
      }
    },
    methods: {
      handleRegister () {

        this.message = ''
        this.submitted = true

        this.$refs.observer.validate().then(isValid => {
          if (isValid) {

            console.log({ isValid })
            console.log('dataForm', this.user)

            this.$store.dispatch(AUTH_REGISTER, this.user).then(data => {

              console.log(data)

              this.message = data.message
              this.successful = true
            }).catch(error => {

              console.log('error', error.response.data)

              this.$refs.observer.setErrors(error.response.data.errors);

              if(error.response.status === 422)
              {


                // for (let key in error.response.data.errors) {
                //   this.$validator.errors.add({ field: key, msg: error.response.data.errors[key] })
                // }

              }


               // this.message = (error.response && error.response.data) || error.message || error.toString()
               //
               // console.log(this.message)
              //

              this.successful = false
            })

          }
        })

      },
      changeType () {
        return Number(this.user.type) === 1
      },
      closeDialog () {
        this.$emit('closeDialog', false)
      }
    }
  }
</script>

<style scoped>

</style>
